<div class="user-menu">
  <figure class="avatar"><img src="./assets/img/avatar.png" alt=""></figure>
  <nav class="menu">
    <ul class="menu__content">
      <li class="menu__item" [class.active]="selectedPopup === 'message'" (click)="openPopup('message')">
        <a><i class="icon-chat"></i></a>
      </li>
      <li class="menu__item" [class.active]="selectedPopup === 'umma'" (click)="openPopup('umma')">
        <a><i class="icon-FAQ"></i></a>
      </li>
      <li class="menu__item" [class.active]="selectedPopup === 'notifications'" (click)="openPopup('notifications')">
        <a><i class="icon-notification"></i></a>
      </li>
      <li class="menu__item" [class.active]="selectedPopup === 'notes'" (click)="openPopup('notes')">
        <a><i class="icon-notes"></i></a>
      </li>
      <li class="menu__item" [class.active]="selectedPopup === 'dictionary'" (click)="openPopup('dictionary')">
        <a><i class="icon-dictionary"></i></a>
      </li>
    </ul>
  </nav>
</div>

<!--Popup Сообщения-->
<div class="popup popup--right popup--chat h100" [class.active]="selectedPopup === 'message'">
  <span class="close" (click)="closePopup()"></span>

  <header class="popup--chat__header">
    <h2 class="popup__title">Сообщения</h2>
    <button class="btn btn--main">Написать</button>
  </header>
  <main class="popup__content popup-messages">
    <div class="popup-messages__dialogs">
      <div class="mini-tabs">
        <ul>
          <li class="active">Все</li>
          <li>Друзья</li>
          <li>Учителя</li>
          <li>
            <!--Search icon-->
          </li>
        </ul>
      </div>
      <div class="popup-messages__dialogs-list">
        <ul>
          <li class="active">
            <img src="https://source.unsplash.com/random/50x50?1" alt="Гульназ Шарафутдин">
            <div>
              <b>Гульназ Шарафутдин</b>
              <p>Привет! Скажите, пожалуйста. Как сделать правильно записывать?</p>
            </div>
          </li>
          <li>
            <img src="https://source.unsplash.com/random/50x50?2" alt="Амир Давлетов">
            <div>
              <b>Амир Давлетов</b>
              <p>Отлично.</p>
            </div>
            <span class="count-mesg">1</span>
          </li>
          <li>
            <img src="https://source.unsplash.com/random/50x50?3" alt="Гульназ Шарафутдин">
            <div>
              <b>Гульназ Шарафутдин</b>
              <p>Привет! Скажите, пожалуйста. Как сделать правильно записывать?</p>
            </div>
          </li>
          <li>
            <img src="https://source.unsplash.com/random/50x50?4" alt="Гульназ Шарафутдин">
            <div>
              <b>Гульназ Шарафутдин</b>
              <p>Привет! Скажите, пожалуйста. Как сделать правильно записывать?</p>
            </div>
          </li>
          <li>
            <img src="https://source.unsplash.com/random/50x50?5" alt="Гульназ Шарафутдин">
            <div>
              <b>Гульназ Шарафутдин</b>
              <p>Привет! Скажите, пожалуйста. Как сделать правильно записывать?</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="popup-messages__list">
      <header class="popup-messages__list-head d-flex align-items-center justify-content-between">
        <h4 class="popup-messages__list-user popup-messages__list-user--online">Гульназ Шарафутдин
          <span></span>
        </h4>
        <div>
          <span class="icon"></span>
          <span class="icon"></span>
          <span class="icon"></span>
        </div>
      </header>
      <main class="popup-messages__items">
        <ul>
          <li class="me">
            <p>Человек считается мусульманином, если он произнесёт формулу Единобожия (шахаду):
              «Я свидетельствую, что
              нет Бога, кроме Аллаха.
              <span>18:55</span></p>
          </li>
          <li>
            <p>Арабское слово муслим означает «тот, который покоряется (Аллаху)» или «тот,
              который предаётся (Аллаху)»
              по аналогии со словом ислам — «примирение», «принятие». Вариант В. М. Пороховой:
              «Прямая калька арабского
              слова „мусульманин“ — „человек, предавшийся Аллаху“».

              <span>18:55</span></p>
          </li>
          <li class="me">
            <p>Человек считается мусульманином, если он произнесёт формулу Единобожия (шахаду):
              «Я свидетельствую, что
              нет Бога, кроме Аллаха.
              <span>18:55</span></p>
          </li>
          <li>
            <p>Арабское слово муслим означает «тот, который покоряется (Аллаху)» или «тот,
              который предаётся (Аллаху)»
              по аналогии со словом ислам — «примирение», «принятие». Вариант В. М. Пороховой:
              «Прямая калька арабского
              слова „мусульманин“ — „человек, предавшийся Аллаху“».

              <span>18:55</span></p>
          </li>
          <li class="me">
            <p>Человек считается мусульманином, если он произнесёт формулу Единобожия (шахаду):
              «Я свидетельствую, что
              нет Бога, кроме Аллаха.
              <span>18:55</span></p>
          </li>
          <li>
            <p>Арабское слово муслим означает «тот, который покоряется (Аллаху)» или «тот,
              который предаётся (Аллаху)»
              по аналогии со словом ислам — «примирение», «принятие». Вариант В. М. Пороховой:
              «Прямая калька арабского
              слова „мусульманин“ — „человек, предавшийся Аллаху“».

              <span>18:55</span></p>
          </li>
        </ul>
      </main>
      <div class="popup-messages__textarea">
        <form action="">
          <textarea name="" id=""></textarea>
          <div class="btn-box">
            <button class="attach-icon"></button>
            <button type="submit" class="upload-icon"></button>
          </div>
        </form>
      </div>
    </div>

  </main>
</div>

<!--Popup Вопрос/Ответ Umma-->
<div class="popup popup--right popup--umma h100" [class.active]="selectedPopup === 'umma'">
  <span class="close" (click)="closePopup()"></span>

  <header class="popup--umma__header">
    <h2 class="popup__title">Вопросы и ответы</h2>
  </header>
  <main class="popup__questions">
    <div class="popup__categories">
      <div class="mini-tabs">
        <ul>
          <li class="active">Заданные мной</li>
          <li>Курс 1</li>
          <li>Курс 2</li>
          <li>Курс 3</li>
          <li>
            <!--Search icon-->
          </li>
        </ul>
      </div>
      <div class="popup-questions__categories-list">
        <ul>
          <li class="active">
            <span>Арабский язык</span>
          </li>
          <li>
            <span>Таджвид</span>
          </li>
          <li>
            <span>Акыда</span>
          </li>
          <li>
            <span>Фикх</span>
          </li>
          <li>
            <span>Истории пророков</span>
          </li>
          <li>
            <span>Таджвид</span>
          </li>
          <li>
            <span>Акыда</span>
          </li>
          <li>
            <span>Фикх</span>
          </li>
          <li>
            <span>Истории пророков</span>
          </li>
          <li>
            <span>Таджвид</span>
          </li>
          <li>
            <span>Акыда</span>
          </li>
          <li>
            <span>Фикх</span>
          </li>
          <li>
            <span>Истории пророков</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="popup__content">
      <ul class="umma-list">
        <li class="item active">
          <header>Что такое Умма?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
              <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            </span>
          </header>
          <main>
            <p>
              Слово «умма» означает группу приверженников одной религии, которые проживают на
              какой-либо территории.
              Большинство алимов
              использует этот термин для обозначения мусульманской общины. Слово «умма» (и его
              множественное число «умам»)
              встречается в Коране более шестидесяти раз и часто используется в хадисах. В Священной
              Книге есть указание
              на то, что животные и птицы также образуют умму: «Нет ни одного животного, [ходящего] по
              земле, ни летающей
              на крыльях птицы, которые, подобно вам, не объединялись бы в сообщество...»
            </p>
          </main>
        </li>
        <li class="item">
          <header>Что значит имя Мухаммад?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Как выглядел Пророк Мухаммад?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Какие, кроме Мухаммада, пророки были?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Что было до Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Сколько жён было у Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Как выглядел Пророк Мухаммад?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Какие, кроме Мухаммада, пророки были?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Что было до Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Сколько жён было у Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Как выглядел Пророк Мухаммад?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Какие, кроме Мухаммада, пророки были?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Что было до Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
        <li class="item">
          <header>Сколько жён было у Пророка Мухаммада?
            <span class="slideup">
            <!--<?xml version="1.0" encoding="UTF-8"?>-->
            <svg width="13px" height="7px" viewBox="0 0 13 7" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Урок-/-Вопросы-и-ответы" transform="translate(-144.000000, -786.000000)" fill="#000000"
                   fill-rule="nonzero">
                  <g id="noun_1769477_cc"
                     transform="translate(150.500000, 789.500000) scale(1, -1) translate(-150.500000, -789.500000) translate(144.000000, 786.000000)">
                    <g id="Group">
                      <path d="M6.5937475,6.83155926 C6.79833713,6.81156473 6.99202121,6.72669801 7.1484525,6.5885037 L12.3984525,1.92182926 C12.6718631,1.68195859 12.8007667,1.30881605 12.7364317,0.943467111 C12.6720967,0.578118174 12.4243392,0.276306706 12.0868231,0.152131665 C11.749307,0.0279566245 11.3735296,0.100364274 11.1015525,0.341981111 L6.4999975,4.43341111 L1.8984475,0.341981111 C1.62647036,0.100364274 1.25069297,0.0279566245 0.913176905,0.152131665 C0.575660836,0.276306706 0.327903295,0.578118174 0.263568307,0.943467111 C0.19923332,1.30881605 0.328136931,1.68195859 0.6015475,1.92182926 L5.8515475,6.5885037 C6.05715064,6.77012909 6.32484935,6.85779503 6.5937475,6.83155926 Z"
                            id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </span>
          </header>
          <main></main>
        </li>
      </ul>

      <div class="popup__textarea">
        <h2 class="capture capture--lvl2 popup__textarea-title">Задать свой вопрос</h2>
        <form action="">
          <textarea></textarea>
          <button class="btn btn--main">Отправить вопрос</button>
        </form>
      </div>
    </div>

  </main>
</div>

<!--Popup Уведомления-->
<div class="popup popup--right popup--notifications h100" [class.active]="selectedPopup === 'notifications'">
  <span class="close" (click)="closePopup()"></span>

  <header class="popup--notifications__header">
    <h2 class="popup__title">Уведомления</h2>
  </header>
  <main class="popup__notifications">
    <div class="popup-notifications__sources">
      <div class="popup-notifications__sources-list">
        <ul>
          <li class="active">
            <span>Все</span>
          </li>
          <li>
            <span>От учителя</span>
          </li>
          <li>
            <span>От сервиса</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="popup-notifications__list">
      <main class="popup-notifications__items">
        <ul class="notifications-list">

          <li class="notifications-list__item active">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>

          <li class="notifications-list__item active">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item active">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Человек считается мусульманином, если он произнесёт формулу Единобожия (шахаду):
              «Я свидетельствую, что
              нет Бога, кроме Аллаха.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Человек считается мусульманином, если он произнесёт формулу Единобожия (шахаду):
              «Я свидетельствую, что
              нет Бога, кроме Аллаха.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
          <li class="notifications-list__item">
            <div class="notifications-list__header">
              <h4 class="notifications-list__title">Что такое Умма?</h4>
              <span class="notifications-list__date">14 марта 14:34</span>
            </div>
            <p class="notifications-list__content">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </li>
        </ul>
      </main>
    </div>

  </main>
</div>

<!--Popup Заметки-->
<div class="popup popup--right popup--notes" [class.active]="selectedPopup === 'notes'">
  <span class="close" (click)="closePopup()"></span>

  <header class="popup--notes__header">
    <h2 class="popup__title">Заметки</h2>
    <button class="btn btn--main">Новая заметка</button>
  </header>
  <main class="popup__content popup-notes">
    <!--Список заметок-->
    <div class="popup-notes__list">
      <ul class="popup-notes-nav">
        <li class="popup-notes-nav__item active">
          <h4 class="popup-notes-nav__name">Новая заметка 1</h4>
          <span class="popup-notes-nav__date">14 марта 14:34</span>
        </li>
        <li class="popup-notes-nav__item">
          <h4 class="popup-notes-nav__name">Новая заметка 2</h4>
          <span class="popup-notes-nav__date">14 марта 14:34</span>
        </li>
        <li class="popup-notes-nav__item">
          <h4 class="popup-notes-nav__name">Новая заметка 3</h4>
          <span class="popup-notes-nav__date">14 марта 14:34</span>
        </li>
        <li class="popup-notes-nav__item">
          <h4 class="popup-notes-nav__name">Новая заметка 4</h4>
          <span class="popup-notes-nav__date">14 марта 14:34</span>
        </li>
      </ul>
    </div>

    <!--Содержимое заметки-->
    <div class="popup-notes__content popup-notes-content">
      <header class="popup-notes-content__header d-flex align-items-center justify-content-between">
        <div class="popup-notes-content__setting">
          <ul class="setting-notes-list">
            <li class="setting-notes-list__item active">
              <span class="set-bold">ж</span>
            </li>
            <li class="setting-notes-list__item">
              <span class="set-italic">к</span>
            </li>
            <li class="setting-notes-list__item">
              <span class="set-underline">ч</span>
            </li>
            <li class="setting-notes-list__item setting-notes-list__item-font">
              <span class="set-font-size">16</span>
            </li>
          </ul>
        </div>
      </header>
      <main class="popup-notes-content__main">
        <div class="note">
          <div class="note-header">
            <h4 class="note-header__name">Новая заметка 1</h4>
            <span class="note-header__date">14 марта 14:34</span>
          </div>
          <div class="note-main">
            <p class="note-main__text">
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины. Слово «умма» означает
              группу приверженников одной религии, которые проживают на какой-либо территории. Большинство алимов
              использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              <br>
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины. Слово «умма» означает
              группу приверженников одной религии, которые проживают на какой-либо территории. Большинство алимов
              использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины. Слово «умма» означает
              группу приверженников одной религии, которые проживают на какой-либо территории. Большинство алимов
              использует этот термин для обозначения мусульманской общины.
              <br>
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины. Слово «умма» означает
              группу приверженников одной религии, которые проживают на какой-либо территории. Большинство алимов
              использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
              Слово «умма» означает группу приверженников одной религии, которые проживают на какой-либо территории.
              Большинство алимов использует этот термин для обозначения мусульманской общины.
            </p>
          </div>
        </div>
      </main>
    </div>

  </main>
</div>

<!--Popup Заметки-->
<div class="popup popup--right popup--dictionary" [class.active]="selectedPopup === 'dictionary'">
  <span class="close" (click)="closePopup()"></span>

  <header class="popup--dictionary__header">
    <h2 class="popup__title">Словарь</h2>
  </header>
  <main class="popup__content popup-dictionary">
    <!--Список слов & search-->
    <div class="popup-dictionary__list">
      <!--Поиск слова-->
      <div class="search-word">
        <input type="text">
        <span class="search-icon"></span>
      </div>

      <!--Список слов (на dictionary-list повесить ngFor)-->
      <div class="dictionary-list">
        <div class="dictionary-list__title">A</div>
        <ul class="popup-dictionary-nav">
          <li class="popup-dictionary-nav__item active">
            <span class="popup-dictionary-nav__word">Абдуллах</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Азан</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Акыда (акида)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Алим</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аллах</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аль-Китаб</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аманат (амана)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ансар</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аср</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аулия (авлия)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аурат (гаурат, аура)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-ль-байт (бейт)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-ль-китаб</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-сСунна ва-ль-джамаа</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахляк</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Акшам намаз (ахшам)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аят (айат)</span>
          </li>
        </ul>
      </div>

      <div class="dictionary-list">
        <div class="dictionary-list__title">Б</div>
        <ul class="popup-dictionary-nav">
          <li class="popup-dictionary-nav__item active">
            <span class="popup-dictionary-nav__word">Абдуллах</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Азан</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Акыда (акида)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Алим</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аллах</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аль-Китаб</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аманат (амана)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ансар</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аср</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аулия (авлия)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аурат (гаурат, аура)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-ль-байт (бейт)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-ль-китаб</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахлю-сСунна ва-ль-джамаа</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Ахляк</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Акшам намаз (ахшам)</span>
          </li>
          <li class="popup-dictionary-nav__item">
            <span class="popup-dictionary-nav__word">Аят (айат)</span>
          </li>
        </ul>
      </div>

    </div>

    <!--Содержимое заметки-->
    <div class="popup-dictionary__content popup-notes-content">
      <header class="popup-dictionary-content__header d-flex align-items-center justify-content-between">
        <div class="popup-dictionary-content__title">
          <h3>Абдулла́х</h3>
        </div>
      </header>
      <main class="popup-dictionary-content__main">
        <div class="text">
          <p>
            "Абд" происходит от корня 'айн-ба-даль (ибада - поклонение) и связано, соответственно, с "поклонениеем",
            "служением", но никак ни с несвободой или рабством в привычном значении этого слова. Для обозначения
            русского "раб" в арабском языке подходит не слово "'абд", а другие слова, например: м.
          </p>
        </div>
      </main>
    </div>

  </main>
</div>
