@import '../../../../assets/scss/variables';

.user-menu {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 999;
  background: #fff;
  .avatar {
    padding: 0.625em;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 12px;
    cursor: pointer;
  }
  .menu {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    &__item {
      &.active {
        background: $yellow;
      }
      a {
        display: block;
        padding: 0.8181818181818182em 0.9090909090909091em;
        text-align: center;
        font-size: 1.375em;
        &:hover {
          background: $yellow;
        }
      }
    }
  }
}

.popup {
  height: 100vh;
  transform: translateX(100%);
  transition: .5s ease-in;
}

.popup.active {
  transform: translateX(0);
  //box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 100px 100vh rgba(0, 0, 0, 0.3);
}
