<main class="content content--dashbord">
  <div class="container-fluid no-pg">
    <div class="row no-gutters">
      <div class="col-3">
        <section class="profile" style="background-image: url('assets/img/profile-bg.png')">
          <i class="icon icon-penc"></i>
          <figure class="avatar">
            <img src="assets/img/ava.png" alt="">
            <figcaption class="title">Хусаин <br> Габдулрахманов</figcaption>
          </figure>
          <p class="profile__level">1 курс</p>
          <div class="honor">
            <ul class="honor__cont">
              <li style="background-image: url('assets/img/icons/cub.png');"></li>
              <li style="background-image: url('assets/img/icons/clock.png');"></li>
              <li style="background-image: url('assets/img/icons/cub2.png');"></li>
              <li style="background-image: url('assets/img/icons/cub2.png');"></li>
              <li style="background-image: url('assets/img/icons/moon.png');"></li>
            </ul>
          </div>

          <div class="pointBox">
            <p class="pointBox__title">Средний балл <br> за тестирование</p>
            <h4 class="pointBox__point">6,7 %</h4>
          </div>
          <div class="pointBox">
            <i class="icon-praer-sajda"></i>
            <p class="pointBox__title">Ракаатов намаза <br> заработано</p>
            <h4 class="pointBox__point">46 300</h4>
          </div>
        </section>
      </div>
      <div class="col-9">
        <section class="dashbord">
          <header class="dashbord__head">
            <h1 class="capture capture--lvl1">Дашборд</h1>
            <section class="list d-flex align-items-center ">
              <ul class="list__cont d-flex">
                <li class="item active">Обучение</li>
                <li class="item">Тесты</li>
                <li class="item">Экзамены</li>
                <li class="item">Новости</li>
                <li class="item">Друзья</li>
              </ul>
            </section>
          </header>
          <div class="dashbord__cont row">
            <div class="col-4">
              <div class="dashbord--left">
                <h2 class="capture capture--lvl2">Мое обучение </h2>
                <section class="list list--number d-flex align-items-center ">
                  <h3 class="capture capture--lvl3">
                    Недели
                  </h3>
                  <ul class="list__cont number__cont d-flex">
                    <li class="item "><span class="txt">1</span></li>
                    <li class="item "><span class="txt">2</span></li>
                    <li class="item "><span class="txt">3</span></li>
                    <li class="item "><span class="txt">4</span></li>
                    <li class="item "><span class="txt">5</span></li>
                    <li class="item active"><span class="txt">6</span></li>
                    <li class="item "><span class="txt">7</span></li>
                    <li class="item "><span class="txt">8</span></li>
                    <li class="item "><span class="txt">9</span></li>
                  </ul>
                </section>

                <section class="questionBox questionBox--dashbord">
                  <div class="question">
                    <span class="question__numb">14.</span>
                    <main class="question__cont">
                      <div class="question__capt-box">
                        <h4 class="question__capt">Из каких элементов состоят графические харфы. Арабские цифры.</h4>
                        <a href="" class="question__link">Арабский язык</a>
                      </div>
                      <div class="progress">
                        <ul class="progress__content">

                          <li class="progress__item blue">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;"
                                  xml:space="preserve">
                                  <title>Group 2</title>
                                  <desc>Created with Sketch.</desc>
                                  <g id="Обучение-_x28_готово_x29_">
                                    <g id="Урок-_x2F_-Видео-_x2022_-Обложка" transform="translate(-136.000000, -902.000000)">
                                      <g id="Group" transform="translate(136.000000, 893.000000)">
                                        <g id="Group-2" transform="translate(1.000000, 10.000000)">
                                          <path d="M9,18.5c-5.2,0-9.5-4.3-9.5-9.5S3.8-0.5,9-0.5s9.5,4.3,9.5,9.5S14.2,18.5,9,18.5z M9,0.5C4.3,0.5,0.5,4.3,0.5,9
                                            c0,4.7,3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5C17.5,4.3,13.7,0.5,9,0.5z" />
                                          <path d="M6.2,13.9V4.1L14.4,9L6.2,13.9z M7.2,5.9v6.2L12.4,9L7.2,5.9z" />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Видеоурок</div>
                          </li>
                          <li class="progress__item active">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.8 5.2" style="enable-background:new 0 0 6.8 5.2;"
                                  xml:space="preserve">
                                  <title>Ресурс 4</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M6.2,5.2H0.5C0.2,5.2,0,4.9,0,4.6V0.6C0,0.2,0.2,0,0.5,0h5.7c0.3,0,0.6,0.2,0.6,0.5v4.1C6.8,4.9,6.5,5.2,6.2,5.2z
                                        M0.5,0.3c-0.1,0-0.3,0.1-0.3,0.3v4.1c0,0.1,0.1,0.2,0.3,0.2h5.7c0.1,0,0.3-0.1,0.3-0.2V0.6c0-0.1-0.1-0.3-0.3-0.3H0.5z" />
                                      <rect x="3.2" y="0.2" width="0.3" height="4.9" />
                                      <rect x="3.9" y="1.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="1.8" width="2.1" height="0.3" />
                                      <rect x="3.9" y="2.4" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.8" width="2.1" height="0.3" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Параграф</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <svg height="569pt" viewBox="-72 0 569 569.284" width="569pt"
                                     xmlns="http://www.w3.org/2000/svg">
                                  <path d="m387.246094 240.703125-141.367188-141.128906 21.726563-21.726563c16.789062-16.726562 16.839843-43.898437.113281-60.6875-16.007812-16.070312-41.761719-16.90625-58.777344-1.902344l-12.464844-12.480468c-3.703124-3.703125-9.703124-3.703125-13.40625 0l-36.140624 36.101562-139.785157 37.28125c-5.0625 1.351563-8.066406 6.550782-6.714843 11.609375.429687 1.609375 1.277343 3.078125 2.453124 4.253907l142.25 142.25c3.707032 3.703124 9.710938 3.703124 13.414063 0 1.175781-1.179688 2.023437-2.648438 2.453125-4.257813l26.210938-98.265625 150.5 150.320312-132.765626 135.773438c-24.925781-4.085938-48.445312 12.808594-52.535156 37.734375-.492187 3.007813-.683594 6.058594-.570312 9.105469v28.449218h-47.417969c-5.234375 0-9.480469 4.246094-9.480469 9.484376v56.898437c0 5.238281 4.246094 9.484375 9.480469 9.484375h189.667969c5.238281 0 9.484375-4.246094 9.484375-9.484375v-56.898437c0-5.238282-4.246094-9.484376-9.484375-9.484376h-47.414063v-26.429687c.824219-.628906 1.617188-1.304687 2.367188-2.019531l134.816406-137.890625c23.855469-1.089844 42.304687-21.3125 41.210937-45.164063-.960937-21.03125-16.933593-38.3125-37.824218-40.925781zm-133.050782-210.292969c9.367188 9.402344 9.367188 24.605469 0 34.007813l-21.746093 21.734375-1.003907-1.003906c-5.132812-5.089844-11.847656-8.277344-19.035156-9.039063l21.992188-21.992187c3.703125-3.703126 3.703125-9.703126 0-13.40625l-12.054688-12.0625c9.527344-7.570313 23.214844-6.8125 31.847656 1.761718zm-64.421874-7.519531 24.523437 24.523437-24.523437 24.523438-24.523438-24.523438zm-42.863282 186.367187-118.980468-118.976562 121.066406-32.292969 30.203125 30.207031zm48.6875-101.375c-.011718-7.261718 5.867188-13.152343 13.125-13.164062 3.492188-.003906 6.84375 1.378906 9.3125 3.847656l145.71875 145.484375c-1.136718.523438-2.191406 1.207031-3.269531 1.824219-2.269531 1.277344-4.417969 2.757812-6.421875 4.417969-.566406.472656-1.164062.949219-1.707031 1.414062-1.246094 1.171875-2.425781 2.414063-3.527344 3.726563-.4375.5-.863281 1.011718-1.269531 1.546875-1.117188 1.40625-2.144532 2.886719-3.074219 4.425781-.066406.125-.160156.230469-.234375.351562l-144.792969-144.59375c-2.476562-2.453124-3.867187-5.796874-3.859375-9.28125zm89.007813 442.152344h-170.699219v-37.933594h170.699219zm-113.796875-56.902344v-28.449218c0-15.710938 12.734375-28.449219 28.449218-28.449219 2.257813.019531 4.507813.316406 6.695313.878906.101563 0 .199219.097657.304687.117188 11.785157 3.019531 20.320313 13.230469 21.203126 25.367187 0 .140625.058593.265625.074218.398438 0 .566406.171875 1.109375.171875 1.6875v28.449218zm71.277344-48.460937c-1.65625-3.46875-3.726563-6.722656-6.164063-9.691406-.550781-.671875-1.082031-1.363281-1.660156-2.011719-1.089844-1.191406-2.230469-2.324219-3.433594-3.402344-.738281-.664062-1.515625-1.28125-2.304687-1.898437-1.242188-.949219-2.464844-1.992188-3.792969-2.84375l118.472656-121.214844c.277344.519531.644531.945313.949219 1.507813.726562 1.304687 1.515625 2.570312 2.371094 3.792968.597656.824219 1.289062 1.5625 1.898437 2.339844 1.742187 2.074219 3.671875 3.976562 5.765625 5.691406.730469.597656 1.414062 1.242188 2.179688 1.800782 1.261718.871093 2.570312 1.671874 3.917968 2.402343.53125.300781 1.015625.671875 1.554688.945313zm139.546874-136.625c-.324218 0-.625-.085937-.949218-.09375-.113282 0-.226563-.066406-.34375-.066406-12.460938-.640625-22.40625-10.621094-23.003906-23.082031 0-.117188-.058594-.21875-.066407-.34375 0-.292969-.09375-.578126-.09375-.882813.035157-1.019531.140625-2.035156.3125-3.042969 0-.074218.046875-.140625.054688-.21875.78125-5.769531 3.59375-11.070312 7.929687-14.953125l.226563-.191406c.976562-.859375 2.019531-1.644531 3.121093-2.34375.226563-.132813.472657-.246094.703126-.378906.992187-.597657 2.03125-1.125 3.101562-1.574219.644531-.257812 1.335938-.417969 2.007812-.625.722657-.257812 1.457032-.476562 2.203126-.65625 1.515624-.300781 3.058593-.460938 4.605468-.472656.371094 0 .816406.09375 1.027344.105468h.179688c13.480468.527344 23.980468 11.886719 23.445312 25.371094-.515625 13.121094-11.316406 23.488282-24.453125 23.464844zm0 0"/>
                                  <path d="m189.773438 455.199219h18.964843v18.96875h-18.964843zm0 0"/>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Домашнее задание</div>
                          </li>
                          <li class="progress__item">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 5.4 6.9" style="enable-background:new 0 0 5.4 6.9;"
                                  xml:space="preserve">
                                  <title>Ресурс 2</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M0.5,6.9C0.2,6.9,0,6.7,0,6.5V1c0-0.2,0.2-0.4,0.4-0.4l1.6,0C2.1,0.2,2.4,0,2.7,0s0.6,0.2,0.7,0.5h1.6
                                        c0.2,0,0.5,0.2,0.5,0.4v5.5c0,0.2-0.2,0.4-0.4,0.5H0.5z M2.7,0.3c-0.2,0-0.4,0.2-0.4,0.4l0,0.1l-1.8,0C0.4,0.9,0.3,0.9,0.3,1v5.5
                                        c0,0.1,0.1,0.1,0.2,0.1h4.5c0.1,0,0.1-0.1,0.2-0.2l0-5.5c0-0.1-0.1-0.1-0.1-0.1H3.1V0.7C3.1,0.5,2.9,0.3,2.7,0.3z" />
                                      <path d="M3.4,1.5H2C1.7,1.4,1.6,1.2,1.6,1V0.7h0.3V1c0,0.1,0.1,0.2,0.1,0.2h1.4c0.1,0,0.2-0.1,0.2-0.2V0.7h0.3V1
                                        C3.8,1.3,3.6,1.5,3.4,1.5z" />
                                      <path d="M1.2,2.9h1.4c0.1,0,0.2,0.1,0.2,0.2v0c0,0.1-0.1,0.2-0.2,0.2H1.2c-0.1,0-0.2-0.1-0.2-0.2v0C1.1,3,1.2,2.9,1.2,2.9z" />
                                      <path d="M1.2,4.7h1.4c0.1,0,0.2,0.1,0.2,0.2v0C2.8,5,2.7,5,2.6,5H1.2C1.2,5,1.1,5,1.1,4.9v0C1.1,4.8,1.2,4.7,1.2,4.7z" />
                                      <path d="M3.7,3.6c0,0-0.1,0-0.1,0L3.1,3.1C3.1,3.1,3.1,3,3.1,2.9c0.1-0.1,0.2-0.1,0.2,0l0.3,0.3l0.5-0.8c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.8,3.5C3.8,3.6,3.7,3.6,3.7,3.6C3.7,3.6,3.7,3.6,3.7,3.6z" />
                                      <path d="M4.1,5.4c0,0-0.1,0-0.1,0L3.2,4.6c-0.1-0.1-0.1-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.2
                                        C4.1,5.4,4.1,5.4,4.1,5.4z" />
                                      <path d="M3.3,5.4c0,0-0.1,0-0.1,0c-0.1-0.1-0.1-0.2,0-0.2L4,4.4c0.1-0.1,0.2-0.1,0.2,0s0.1,0.2,0,0.2L3.4,5.4
                                        C3.4,5.4,3.3,5.4,3.3,5.4z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>

                            </div>
                            <div class="title">Тестирование</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.3 6.3" style="enable-background:new 0 0 6.3 6.3;"
                                  xml:space="preserve">
                                  <title>Ресурс 1</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M3.2,6.3C1.4,6.3,0,4.9,0,3.2S1.4,0,3.2,0c1.7,0,3.2,1.4,3.2,3.2S4.9,6.3,3.2,6.3z M3.2,0.3c-1.6,0-2.9,1.3-2.9,2.9
                                        C0.3,4.7,1.6,6,3.2,6S6,4.7,6,3.2C6,1.6,4.7,0.3,3.2,0.3z" />
                                      <path d="M3,4.3c0,0-0.1,0-0.1,0L1.7,3.2C1.6,3.1,1.6,3,1.7,2.9c0.1-0.1,0.1-0.1,0.2,0l1.1,1l1.5-2.1c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.1,4.2C3.1,4.2,3.1,4.3,3,4.3C3,4.3,3,4.3,3,4.3z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class="title">Оценка</div>
                          </li>
                        </ul>
                      </div>
                    </main>
                    <button class="question__btn">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                           height="14px" viewBox="0 0 7 14" version="1.1" data-livestyle-extension="available">
                        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs/>
                        <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Урок-/-Дашборд" transform="translate(-958.000000, -358.000000)" fill="#000000" fill-rule="nonzero">
                            <g id="Group-7" transform="translate(565.000000, 285.000000)">
                              <path d="M396.599556,83.1323336 C396.816822,83.1115792 397.022506,83.0234872 397.188629,82.8800409 L402.763909,78.0360135 C403.05426,77.7870267 403.19115,77.3997032 403.122829,77.0204695 C403.054508,76.6412358 402.7914,76.3279543 402.432972,76.1990601 C402.074544,76.0701659 401.675484,76.1453253 401.386656,76.3961246 L396.499997,80.6430459 L391.613344,76.3961246 C391.324516,76.1453253 390.925456,76.0701659 390.567028,76.1990601 C390.2086,76.3279543 389.945492,76.6412358 389.877171,77.0204695 C389.80885,77.3997032 389.94574,77.7870267 390.236091,78.0360135 L395.811371,82.8800409 C396.029713,83.0685688 396.313997,83.1595664 396.599556,83.1323336 Z"
                                    id="Shape"
                                    transform="translate(396.500000, 79.637070) scale(-1, 1) rotate(90.000000) translate(-396.500000, -79.637070) "/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="question">
                    <span class="question__numb">15.</span>
                    <main class="question__cont">
                      <div class="question__capt-box">
                        <h4 class="question__capt">Из каких элементов состоят графические харфы. </h4>
                        <a href="" class="question__link">Арабский язык</a>
                      </div>
                      <div class="progress">
                        <ul class="progress__content">

                          <li class="progress__item blue">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;"
                                  xml:space="preserve">
                                  <title>Group 2</title>
                                  <desc>Created with Sketch.</desc>
                                  <g id="Обучение-_x28_готово_x29_">
                                    <g id="Урок-_x2F_-Видео-_x2022_-Обложка" transform="translate(-136.000000, -902.000000)">
                                      <g id="Group" transform="translate(136.000000, 893.000000)">
                                        <g id="Group-2" transform="translate(1.000000, 10.000000)">
                                          <path d="M9,18.5c-5.2,0-9.5-4.3-9.5-9.5S3.8-0.5,9-0.5s9.5,4.3,9.5,9.5S14.2,18.5,9,18.5z M9,0.5C4.3,0.5,0.5,4.3,0.5,9
                                            c0,4.7,3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5C17.5,4.3,13.7,0.5,9,0.5z" />
                                          <path d="M6.2,13.9V4.1L14.4,9L6.2,13.9z M7.2,5.9v6.2L12.4,9L7.2,5.9z" />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Видеоурок</div>
                          </li>
                          <li class="progress__item active">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.8 5.2" style="enable-background:new 0 0 6.8 5.2;"
                                  xml:space="preserve">
                                  <title>Ресурс 4</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M6.2,5.2H0.5C0.2,5.2,0,4.9,0,4.6V0.6C0,0.2,0.2,0,0.5,0h5.7c0.3,0,0.6,0.2,0.6,0.5v4.1C6.8,4.9,6.5,5.2,6.2,5.2z
                                        M0.5,0.3c-0.1,0-0.3,0.1-0.3,0.3v4.1c0,0.1,0.1,0.2,0.3,0.2h5.7c0.1,0,0.3-0.1,0.3-0.2V0.6c0-0.1-0.1-0.3-0.3-0.3H0.5z" />
                                      <rect x="3.2" y="0.2" width="0.3" height="4.9" />
                                      <rect x="3.9" y="1.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="1.8" width="2.1" height="0.3" />
                                      <rect x="3.9" y="2.4" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.8" width="2.1" height="0.3" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Параграф</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <svg height="569pt" viewBox="-72 0 569 569.284" width="569pt"
                                     xmlns="http://www.w3.org/2000/svg">
                                  <path d="m387.246094 240.703125-141.367188-141.128906 21.726563-21.726563c16.789062-16.726562 16.839843-43.898437.113281-60.6875-16.007812-16.070312-41.761719-16.90625-58.777344-1.902344l-12.464844-12.480468c-3.703124-3.703125-9.703124-3.703125-13.40625 0l-36.140624 36.101562-139.785157 37.28125c-5.0625 1.351563-8.066406 6.550782-6.714843 11.609375.429687 1.609375 1.277343 3.078125 2.453124 4.253907l142.25 142.25c3.707032 3.703124 9.710938 3.703124 13.414063 0 1.175781-1.179688 2.023437-2.648438 2.453125-4.257813l26.210938-98.265625 150.5 150.320312-132.765626 135.773438c-24.925781-4.085938-48.445312 12.808594-52.535156 37.734375-.492187 3.007813-.683594 6.058594-.570312 9.105469v28.449218h-47.417969c-5.234375 0-9.480469 4.246094-9.480469 9.484376v56.898437c0 5.238281 4.246094 9.484375 9.480469 9.484375h189.667969c5.238281 0 9.484375-4.246094 9.484375-9.484375v-56.898437c0-5.238282-4.246094-9.484376-9.484375-9.484376h-47.414063v-26.429687c.824219-.628906 1.617188-1.304687 2.367188-2.019531l134.816406-137.890625c23.855469-1.089844 42.304687-21.3125 41.210937-45.164063-.960937-21.03125-16.933593-38.3125-37.824218-40.925781zm-133.050782-210.292969c9.367188 9.402344 9.367188 24.605469 0 34.007813l-21.746093 21.734375-1.003907-1.003906c-5.132812-5.089844-11.847656-8.277344-19.035156-9.039063l21.992188-21.992187c3.703125-3.703126 3.703125-9.703126 0-13.40625l-12.054688-12.0625c9.527344-7.570313 23.214844-6.8125 31.847656 1.761718zm-64.421874-7.519531 24.523437 24.523437-24.523437 24.523438-24.523438-24.523438zm-42.863282 186.367187-118.980468-118.976562 121.066406-32.292969 30.203125 30.207031zm48.6875-101.375c-.011718-7.261718 5.867188-13.152343 13.125-13.164062 3.492188-.003906 6.84375 1.378906 9.3125 3.847656l145.71875 145.484375c-1.136718.523438-2.191406 1.207031-3.269531 1.824219-2.269531 1.277344-4.417969 2.757812-6.421875 4.417969-.566406.472656-1.164062.949219-1.707031 1.414062-1.246094 1.171875-2.425781 2.414063-3.527344 3.726563-.4375.5-.863281 1.011718-1.269531 1.546875-1.117188 1.40625-2.144532 2.886719-3.074219 4.425781-.066406.125-.160156.230469-.234375.351562l-144.792969-144.59375c-2.476562-2.453124-3.867187-5.796874-3.859375-9.28125zm89.007813 442.152344h-170.699219v-37.933594h170.699219zm-113.796875-56.902344v-28.449218c0-15.710938 12.734375-28.449219 28.449218-28.449219 2.257813.019531 4.507813.316406 6.695313.878906.101563 0 .199219.097657.304687.117188 11.785157 3.019531 20.320313 13.230469 21.203126 25.367187 0 .140625.058593.265625.074218.398438 0 .566406.171875 1.109375.171875 1.6875v28.449218zm71.277344-48.460937c-1.65625-3.46875-3.726563-6.722656-6.164063-9.691406-.550781-.671875-1.082031-1.363281-1.660156-2.011719-1.089844-1.191406-2.230469-2.324219-3.433594-3.402344-.738281-.664062-1.515625-1.28125-2.304687-1.898437-1.242188-.949219-2.464844-1.992188-3.792969-2.84375l118.472656-121.214844c.277344.519531.644531.945313.949219 1.507813.726562 1.304687 1.515625 2.570312 2.371094 3.792968.597656.824219 1.289062 1.5625 1.898437 2.339844 1.742187 2.074219 3.671875 3.976562 5.765625 5.691406.730469.597656 1.414062 1.242188 2.179688 1.800782 1.261718.871093 2.570312 1.671874 3.917968 2.402343.53125.300781 1.015625.671875 1.554688.945313zm139.546874-136.625c-.324218 0-.625-.085937-.949218-.09375-.113282 0-.226563-.066406-.34375-.066406-12.460938-.640625-22.40625-10.621094-23.003906-23.082031 0-.117188-.058594-.21875-.066407-.34375 0-.292969-.09375-.578126-.09375-.882813.035157-1.019531.140625-2.035156.3125-3.042969 0-.074218.046875-.140625.054688-.21875.78125-5.769531 3.59375-11.070312 7.929687-14.953125l.226563-.191406c.976562-.859375 2.019531-1.644531 3.121093-2.34375.226563-.132813.472657-.246094.703126-.378906.992187-.597657 2.03125-1.125 3.101562-1.574219.644531-.257812 1.335938-.417969 2.007812-.625.722657-.257812 1.457032-.476562 2.203126-.65625 1.515624-.300781 3.058593-.460938 4.605468-.472656.371094 0 .816406.09375 1.027344.105468h.179688c13.480468.527344 23.980468 11.886719 23.445312 25.371094-.515625 13.121094-11.316406 23.488282-24.453125 23.464844zm0 0"/>
                                  <path d="m189.773438 455.199219h18.964843v18.96875h-18.964843zm0 0"/>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Домашнее задание</div>
                          </li>
                          <li class="progress__item">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 5.4 6.9" style="enable-background:new 0 0 5.4 6.9;"
                                  xml:space="preserve">
                                  <title>Ресурс 2</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M0.5,6.9C0.2,6.9,0,6.7,0,6.5V1c0-0.2,0.2-0.4,0.4-0.4l1.6,0C2.1,0.2,2.4,0,2.7,0s0.6,0.2,0.7,0.5h1.6
                                        c0.2,0,0.5,0.2,0.5,0.4v5.5c0,0.2-0.2,0.4-0.4,0.5H0.5z M2.7,0.3c-0.2,0-0.4,0.2-0.4,0.4l0,0.1l-1.8,0C0.4,0.9,0.3,0.9,0.3,1v5.5
                                        c0,0.1,0.1,0.1,0.2,0.1h4.5c0.1,0,0.1-0.1,0.2-0.2l0-5.5c0-0.1-0.1-0.1-0.1-0.1H3.1V0.7C3.1,0.5,2.9,0.3,2.7,0.3z" />
                                      <path d="M3.4,1.5H2C1.7,1.4,1.6,1.2,1.6,1V0.7h0.3V1c0,0.1,0.1,0.2,0.1,0.2h1.4c0.1,0,0.2-0.1,0.2-0.2V0.7h0.3V1
                                        C3.8,1.3,3.6,1.5,3.4,1.5z" />
                                      <path d="M1.2,2.9h1.4c0.1,0,0.2,0.1,0.2,0.2v0c0,0.1-0.1,0.2-0.2,0.2H1.2c-0.1,0-0.2-0.1-0.2-0.2v0C1.1,3,1.2,2.9,1.2,2.9z" />
                                      <path d="M1.2,4.7h1.4c0.1,0,0.2,0.1,0.2,0.2v0C2.8,5,2.7,5,2.6,5H1.2C1.2,5,1.1,5,1.1,4.9v0C1.1,4.8,1.2,4.7,1.2,4.7z" />
                                      <path d="M3.7,3.6c0,0-0.1,0-0.1,0L3.1,3.1C3.1,3.1,3.1,3,3.1,2.9c0.1-0.1,0.2-0.1,0.2,0l0.3,0.3l0.5-0.8c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.8,3.5C3.8,3.6,3.7,3.6,3.7,3.6C3.7,3.6,3.7,3.6,3.7,3.6z" />
                                      <path d="M4.1,5.4c0,0-0.1,0-0.1,0L3.2,4.6c-0.1-0.1-0.1-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.2
                                        C4.1,5.4,4.1,5.4,4.1,5.4z" />
                                      <path d="M3.3,5.4c0,0-0.1,0-0.1,0c-0.1-0.1-0.1-0.2,0-0.2L4,4.4c0.1-0.1,0.2-0.1,0.2,0s0.1,0.2,0,0.2L3.4,5.4
                                        C3.4,5.4,3.3,5.4,3.3,5.4z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>

                            </div>
                            <div class="title">Тестирование</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.3 6.3" style="enable-background:new 0 0 6.3 6.3;"
                                  xml:space="preserve">
                                  <title>Ресурс 1</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M3.2,6.3C1.4,6.3,0,4.9,0,3.2S1.4,0,3.2,0c1.7,0,3.2,1.4,3.2,3.2S4.9,6.3,3.2,6.3z M3.2,0.3c-1.6,0-2.9,1.3-2.9,2.9
                                        C0.3,4.7,1.6,6,3.2,6S6,4.7,6,3.2C6,1.6,4.7,0.3,3.2,0.3z" />
                                      <path d="M3,4.3c0,0-0.1,0-0.1,0L1.7,3.2C1.6,3.1,1.6,3,1.7,2.9c0.1-0.1,0.1-0.1,0.2,0l1.1,1l1.5-2.1c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.1,4.2C3.1,4.2,3.1,4.3,3,4.3C3,4.3,3,4.3,3,4.3z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class="title">Оценка</div>
                          </li>
                        </ul>
                      </div>
                    </main>
                    <button class="question__btn">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                           height="14px" viewBox="0 0 7 14" version="1.1" data-livestyle-extension="available">
                        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs/>
                        <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Урок-/-Дашборд" transform="translate(-958.000000, -358.000000)" fill="#000000"
                             fill-rule="nonzero">
                            <g id="Group-7" transform="translate(565.000000, 285.000000)">
                              <path d="M396.599556,83.1323336 C396.816822,83.1115792 397.022506,83.0234872 397.188629,82.8800409 L402.763909,78.0360135 C403.05426,77.7870267 403.19115,77.3997032 403.122829,77.0204695 C403.054508,76.6412358 402.7914,76.3279543 402.432972,76.1990601 C402.074544,76.0701659 401.675484,76.1453253 401.386656,76.3961246 L396.499997,80.6430459 L391.613344,76.3961246 C391.324516,76.1453253 390.925456,76.0701659 390.567028,76.1990601 C390.2086,76.3279543 389.945492,76.6412358 389.877171,77.0204695 C389.80885,77.3997032 389.94574,77.7870267 390.236091,78.0360135 L395.811371,82.8800409 C396.029713,83.0685688 396.313997,83.1595664 396.599556,83.1323336 Z"
                                    id="Shape"
                                    transform="translate(396.500000, 79.637070) scale(-1, 1) rotate(90.000000) translate(-396.500000, -79.637070) "/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="question">
                    <span class="question__numb">16.</span>
                    <main class="question__cont">
                      <div class="question__capt-box">
                        <h4 class="question__capt">Из каких элементов состоят графические харфы. </h4>
                        <a href="" class="question__link">Арабский язык</a>
                      </div>
                      <div class="progress">
                        <ul class="progress__content">

                          <li class="progress__item blue">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;"
                                  xml:space="preserve">
                                  <title>Group 2</title>
                                  <desc>Created with Sketch.</desc>
                                  <g id="Обучение-_x28_готово_x29_">
                                    <g id="Урок-_x2F_-Видео-_x2022_-Обложка" transform="translate(-136.000000, -902.000000)">
                                      <g id="Group" transform="translate(136.000000, 893.000000)">
                                        <g id="Group-2" transform="translate(1.000000, 10.000000)">
                                          <path d="M9,18.5c-5.2,0-9.5-4.3-9.5-9.5S3.8-0.5,9-0.5s9.5,4.3,9.5,9.5S14.2,18.5,9,18.5z M9,0.5C4.3,0.5,0.5,4.3,0.5,9
                                            c0,4.7,3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5C17.5,4.3,13.7,0.5,9,0.5z" />
                                          <path d="M6.2,13.9V4.1L14.4,9L6.2,13.9z M7.2,5.9v6.2L12.4,9L7.2,5.9z" />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Видеоурок</div>
                          </li>
                          <li class="progress__item active">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.8 5.2" style="enable-background:new 0 0 6.8 5.2;"
                                  xml:space="preserve">
                                  <title>Ресурс 4</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M6.2,5.2H0.5C0.2,5.2,0,4.9,0,4.6V0.6C0,0.2,0.2,0,0.5,0h5.7c0.3,0,0.6,0.2,0.6,0.5v4.1C6.8,4.9,6.5,5.2,6.2,5.2z
                                        M0.5,0.3c-0.1,0-0.3,0.1-0.3,0.3v4.1c0,0.1,0.1,0.2,0.3,0.2h5.7c0.1,0,0.3-0.1,0.3-0.2V0.6c0-0.1-0.1-0.3-0.3-0.3H0.5z" />
                                      <rect x="3.2" y="0.2" width="0.3" height="4.9" />
                                      <rect x="3.9" y="1.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="1.8" width="2.1" height="0.3" />
                                      <rect x="3.9" y="2.4" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.8" width="2.1" height="0.3" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Параграф</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <svg height="569pt" viewBox="-72 0 569 569.284" width="569pt"
                                     xmlns="http://www.w3.org/2000/svg">
                                  <path d="m387.246094 240.703125-141.367188-141.128906 21.726563-21.726563c16.789062-16.726562 16.839843-43.898437.113281-60.6875-16.007812-16.070312-41.761719-16.90625-58.777344-1.902344l-12.464844-12.480468c-3.703124-3.703125-9.703124-3.703125-13.40625 0l-36.140624 36.101562-139.785157 37.28125c-5.0625 1.351563-8.066406 6.550782-6.714843 11.609375.429687 1.609375 1.277343 3.078125 2.453124 4.253907l142.25 142.25c3.707032 3.703124 9.710938 3.703124 13.414063 0 1.175781-1.179688 2.023437-2.648438 2.453125-4.257813l26.210938-98.265625 150.5 150.320312-132.765626 135.773438c-24.925781-4.085938-48.445312 12.808594-52.535156 37.734375-.492187 3.007813-.683594 6.058594-.570312 9.105469v28.449218h-47.417969c-5.234375 0-9.480469 4.246094-9.480469 9.484376v56.898437c0 5.238281 4.246094 9.484375 9.480469 9.484375h189.667969c5.238281 0 9.484375-4.246094 9.484375-9.484375v-56.898437c0-5.238282-4.246094-9.484376-9.484375-9.484376h-47.414063v-26.429687c.824219-.628906 1.617188-1.304687 2.367188-2.019531l134.816406-137.890625c23.855469-1.089844 42.304687-21.3125 41.210937-45.164063-.960937-21.03125-16.933593-38.3125-37.824218-40.925781zm-133.050782-210.292969c9.367188 9.402344 9.367188 24.605469 0 34.007813l-21.746093 21.734375-1.003907-1.003906c-5.132812-5.089844-11.847656-8.277344-19.035156-9.039063l21.992188-21.992187c3.703125-3.703126 3.703125-9.703126 0-13.40625l-12.054688-12.0625c9.527344-7.570313 23.214844-6.8125 31.847656 1.761718zm-64.421874-7.519531 24.523437 24.523437-24.523437 24.523438-24.523438-24.523438zm-42.863282 186.367187-118.980468-118.976562 121.066406-32.292969 30.203125 30.207031zm48.6875-101.375c-.011718-7.261718 5.867188-13.152343 13.125-13.164062 3.492188-.003906 6.84375 1.378906 9.3125 3.847656l145.71875 145.484375c-1.136718.523438-2.191406 1.207031-3.269531 1.824219-2.269531 1.277344-4.417969 2.757812-6.421875 4.417969-.566406.472656-1.164062.949219-1.707031 1.414062-1.246094 1.171875-2.425781 2.414063-3.527344 3.726563-.4375.5-.863281 1.011718-1.269531 1.546875-1.117188 1.40625-2.144532 2.886719-3.074219 4.425781-.066406.125-.160156.230469-.234375.351562l-144.792969-144.59375c-2.476562-2.453124-3.867187-5.796874-3.859375-9.28125zm89.007813 442.152344h-170.699219v-37.933594h170.699219zm-113.796875-56.902344v-28.449218c0-15.710938 12.734375-28.449219 28.449218-28.449219 2.257813.019531 4.507813.316406 6.695313.878906.101563 0 .199219.097657.304687.117188 11.785157 3.019531 20.320313 13.230469 21.203126 25.367187 0 .140625.058593.265625.074218.398438 0 .566406.171875 1.109375.171875 1.6875v28.449218zm71.277344-48.460937c-1.65625-3.46875-3.726563-6.722656-6.164063-9.691406-.550781-.671875-1.082031-1.363281-1.660156-2.011719-1.089844-1.191406-2.230469-2.324219-3.433594-3.402344-.738281-.664062-1.515625-1.28125-2.304687-1.898437-1.242188-.949219-2.464844-1.992188-3.792969-2.84375l118.472656-121.214844c.277344.519531.644531.945313.949219 1.507813.726562 1.304687 1.515625 2.570312 2.371094 3.792968.597656.824219 1.289062 1.5625 1.898437 2.339844 1.742187 2.074219 3.671875 3.976562 5.765625 5.691406.730469.597656 1.414062 1.242188 2.179688 1.800782 1.261718.871093 2.570312 1.671874 3.917968 2.402343.53125.300781 1.015625.671875 1.554688.945313zm139.546874-136.625c-.324218 0-.625-.085937-.949218-.09375-.113282 0-.226563-.066406-.34375-.066406-12.460938-.640625-22.40625-10.621094-23.003906-23.082031 0-.117188-.058594-.21875-.066407-.34375 0-.292969-.09375-.578126-.09375-.882813.035157-1.019531.140625-2.035156.3125-3.042969 0-.074218.046875-.140625.054688-.21875.78125-5.769531 3.59375-11.070312 7.929687-14.953125l.226563-.191406c.976562-.859375 2.019531-1.644531 3.121093-2.34375.226563-.132813.472657-.246094.703126-.378906.992187-.597657 2.03125-1.125 3.101562-1.574219.644531-.257812 1.335938-.417969 2.007812-.625.722657-.257812 1.457032-.476562 2.203126-.65625 1.515624-.300781 3.058593-.460938 4.605468-.472656.371094 0 .816406.09375 1.027344.105468h.179688c13.480468.527344 23.980468 11.886719 23.445312 25.371094-.515625 13.121094-11.316406 23.488282-24.453125 23.464844zm0 0"/>
                                  <path d="m189.773438 455.199219h18.964843v18.96875h-18.964843zm0 0"/>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Домашнее задание</div>
                          </li>
                          <li class="progress__item">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 5.4 6.9" style="enable-background:new 0 0 5.4 6.9;"
                                  xml:space="preserve">
                                  <title>Ресурс 2</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M0.5,6.9C0.2,6.9,0,6.7,0,6.5V1c0-0.2,0.2-0.4,0.4-0.4l1.6,0C2.1,0.2,2.4,0,2.7,0s0.6,0.2,0.7,0.5h1.6
                                        c0.2,0,0.5,0.2,0.5,0.4v5.5c0,0.2-0.2,0.4-0.4,0.5H0.5z M2.7,0.3c-0.2,0-0.4,0.2-0.4,0.4l0,0.1l-1.8,0C0.4,0.9,0.3,0.9,0.3,1v5.5
                                        c0,0.1,0.1,0.1,0.2,0.1h4.5c0.1,0,0.1-0.1,0.2-0.2l0-5.5c0-0.1-0.1-0.1-0.1-0.1H3.1V0.7C3.1,0.5,2.9,0.3,2.7,0.3z" />
                                      <path d="M3.4,1.5H2C1.7,1.4,1.6,1.2,1.6,1V0.7h0.3V1c0,0.1,0.1,0.2,0.1,0.2h1.4c0.1,0,0.2-0.1,0.2-0.2V0.7h0.3V1
                                        C3.8,1.3,3.6,1.5,3.4,1.5z" />
                                      <path d="M1.2,2.9h1.4c0.1,0,0.2,0.1,0.2,0.2v0c0,0.1-0.1,0.2-0.2,0.2H1.2c-0.1,0-0.2-0.1-0.2-0.2v0C1.1,3,1.2,2.9,1.2,2.9z" />
                                      <path d="M1.2,4.7h1.4c0.1,0,0.2,0.1,0.2,0.2v0C2.8,5,2.7,5,2.6,5H1.2C1.2,5,1.1,5,1.1,4.9v0C1.1,4.8,1.2,4.7,1.2,4.7z" />
                                      <path d="M3.7,3.6c0,0-0.1,0-0.1,0L3.1,3.1C3.1,3.1,3.1,3,3.1,2.9c0.1-0.1,0.2-0.1,0.2,0l0.3,0.3l0.5-0.8c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.8,3.5C3.8,3.6,3.7,3.6,3.7,3.6C3.7,3.6,3.7,3.6,3.7,3.6z" />
                                      <path d="M4.1,5.4c0,0-0.1,0-0.1,0L3.2,4.6c-0.1-0.1-0.1-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.2
                                        C4.1,5.4,4.1,5.4,4.1,5.4z" />
                                      <path d="M3.3,5.4c0,0-0.1,0-0.1,0c-0.1-0.1-0.1-0.2,0-0.2L4,4.4c0.1-0.1,0.2-0.1,0.2,0s0.1,0.2,0,0.2L3.4,5.4
                                        C3.4,5.4,3.3,5.4,3.3,5.4z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>

                            </div>
                            <div class="title">Тестирование</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.3 6.3" style="enable-background:new 0 0 6.3 6.3;"
                                  xml:space="preserve">
                                  <title>Ресурс 1</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M3.2,6.3C1.4,6.3,0,4.9,0,3.2S1.4,0,3.2,0c1.7,0,3.2,1.4,3.2,3.2S4.9,6.3,3.2,6.3z M3.2,0.3c-1.6,0-2.9,1.3-2.9,2.9
                                        C0.3,4.7,1.6,6,3.2,6S6,4.7,6,3.2C6,1.6,4.7,0.3,3.2,0.3z" />
                                      <path d="M3,4.3c0,0-0.1,0-0.1,0L1.7,3.2C1.6,3.1,1.6,3,1.7,2.9c0.1-0.1,0.1-0.1,0.2,0l1.1,1l1.5-2.1c0-0.1,0.1-0.1,0.2,0
                                        0.1,0,0.1,0.1,0,0.2L3.1,4.2C3.1,4.2,3.1,4.3,3,4.3C3,4.3,3,4.3,3,4.3z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class="title">Оценка</div>
                          </li>
                        </ul>
                      </div>
                    </main>
                    <button class="question__btn">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                           height="14px" viewBox="0 0 7 14" version="1.1" data-livestyle-extension="available">
                        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs/>
                        <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Урок-/-Дашборд" transform="translate(-958.000000, -358.000000)" fill="#000000"
                             fill-rule="nonzero">
                            <g id="Group-7" transform="translate(565.000000, 285.000000)">
                              <path d="M396.599556,83.1323336 C396.816822,83.1115792 397.022506,83.0234872 397.188629,82.8800409 L402.763909,78.0360135 C403.05426,77.7870267 403.19115,77.3997032 403.122829,77.0204695 C403.054508,76.6412358 402.7914,76.3279543 402.432972,76.1990601 C402.074544,76.0701659 401.675484,76.1453253 401.386656,76.3961246 L396.499997,80.6430459 L391.613344,76.3961246 C391.324516,76.1453253 390.925456,76.0701659 390.567028,76.1990601 C390.2086,76.3279543 389.945492,76.6412358 389.877171,77.0204695 C389.80885,77.3997032 389.94574,77.7870267 390.236091,78.0360135 L395.811371,82.8800409 C396.029713,83.0685688 396.313997,83.1595664 396.599556,83.1323336 Z"
                                    id="Shape"
                                    transform="translate(396.500000, 79.637070) scale(-1, 1) rotate(90.000000) translate(-396.500000, -79.637070) "/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="question">
                    <span class="question__numb">18.</span>
                    <main class="question__cont">
                      <div class="question__capt-box">
                        <h4 class="question__capt">Из каких элементов состоят графические харфы. </h4>
                        <a href="" class="question__link">Арабский язык</a>
                      </div>
                      <div class="progress">
                        <ul class="progress__content">

                          <li class="progress__item blue">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;"
                                  xml:space="preserve">
                                  <title>Group 2</title>
                                  <desc>Created with Sketch.</desc>
                                  <g id="Обучение-_x28_готово_x29_">
                                    <g id="Урок-_x2F_-Видео-_x2022_-Обложка" transform="translate(-136.000000, -902.000000)">
                                      <g id="Group" transform="translate(136.000000, 893.000000)">
                                        <g id="Group-2" transform="translate(1.000000, 10.000000)">
                                          <path d="M9,18.5c-5.2,0-9.5-4.3-9.5-9.5S3.8-0.5,9-0.5s9.5,4.3,9.5,9.5S14.2,18.5,9,18.5z M9,0.5C4.3,0.5,0.5,4.3,0.5,9
                                            c0,4.7,3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5C17.5,4.3,13.7,0.5,9,0.5z" />
                                          <path d="M6.2,13.9V4.1L14.4,9L6.2,13.9z M7.2,5.9v6.2L12.4,9L7.2,5.9z" />
                                        </g>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Видеоурок</div>
                          </li>
                          <li class="progress__item active">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.8 5.2" style="enable-background:new 0 0 6.8 5.2;"
                                  xml:space="preserve">
                                  <title>Ресурс 4</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M6.2,5.2H0.5C0.2,5.2,0,4.9,0,4.6V0.6C0,0.2,0.2,0,0.5,0h5.7c0.3,0,0.6,0.2,0.6,0.5v4.1C6.8,4.9,6.5,5.2,6.2,5.2z
                                        M0.5,0.3c-0.1,0-0.3,0.1-0.3,0.3v4.1c0,0.1,0.1,0.2,0.3,0.2h5.7c0.1,0,0.3-0.1,0.3-0.2V0.6c0-0.1-0.1-0.3-0.3-0.3H0.5z" />
                                      <rect x="3.2" y="0.2" width="0.3" height="4.9" />
                                      <rect x="3.9" y="1.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="1.8" width="2.1" height="0.3" />
                                      <rect x="3.9" y="2.4" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.1" width="2.1" height="0.3" />
                                      <rect x="3.9" y="3.8" width="2.1" height="0.3" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Параграф</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <svg height="569pt" viewBox="-72 0 569 569.284" width="569pt"
                                     xmlns="http://www.w3.org/2000/svg">
                                  <path d="m387.246094 240.703125-141.367188-141.128906 21.726563-21.726563c16.789062-16.726562 16.839843-43.898437.113281-60.6875-16.007812-16.070312-41.761719-16.90625-58.777344-1.902344l-12.464844-12.480468c-3.703124-3.703125-9.703124-3.703125-13.40625 0l-36.140624 36.101562-139.785157 37.28125c-5.0625 1.351563-8.066406 6.550782-6.714843 11.609375.429687 1.609375 1.277343 3.078125 2.453124 4.253907l142.25 142.25c3.707032 3.703124 9.710938 3.703124 13.414063 0 1.175781-1.179688 2.023437-2.648438 2.453125-4.257813l26.210938-98.265625 150.5 150.320312-132.765626 135.773438c-24.925781-4.085938-48.445312 12.808594-52.535156 37.734375-.492187 3.007813-.683594 6.058594-.570312 9.105469v28.449218h-47.417969c-5.234375 0-9.480469 4.246094-9.480469 9.484376v56.898437c0 5.238281 4.246094 9.484375 9.480469 9.484375h189.667969c5.238281 0 9.484375-4.246094 9.484375-9.484375v-56.898437c0-5.238282-4.246094-9.484376-9.484375-9.484376h-47.414063v-26.429687c.824219-.628906 1.617188-1.304687 2.367188-2.019531l134.816406-137.890625c23.855469-1.089844 42.304687-21.3125 41.210937-45.164063-.960937-21.03125-16.933593-38.3125-37.824218-40.925781zm-133.050782-210.292969c9.367188 9.402344 9.367188 24.605469 0 34.007813l-21.746093 21.734375-1.003907-1.003906c-5.132812-5.089844-11.847656-8.277344-19.035156-9.039063l21.992188-21.992187c3.703125-3.703126 3.703125-9.703126 0-13.40625l-12.054688-12.0625c9.527344-7.570313 23.214844-6.8125 31.847656 1.761718zm-64.421874-7.519531 24.523437 24.523437-24.523437 24.523438-24.523438-24.523438zm-42.863282 186.367187-118.980468-118.976562 121.066406-32.292969 30.203125 30.207031zm48.6875-101.375c-.011718-7.261718 5.867188-13.152343 13.125-13.164062 3.492188-.003906 6.84375 1.378906 9.3125 3.847656l145.71875 145.484375c-1.136718.523438-2.191406 1.207031-3.269531 1.824219-2.269531 1.277344-4.417969 2.757812-6.421875 4.417969-.566406.472656-1.164062.949219-1.707031 1.414062-1.246094 1.171875-2.425781 2.414063-3.527344 3.726563-.4375.5-.863281 1.011718-1.269531 1.546875-1.117188 1.40625-2.144532 2.886719-3.074219 4.425781-.066406.125-.160156.230469-.234375.351562l-144.792969-144.59375c-2.476562-2.453124-3.867187-5.796874-3.859375-9.28125zm89.007813 442.152344h-170.699219v-37.933594h170.699219zm-113.796875-56.902344v-28.449218c0-15.710938 12.734375-28.449219 28.449218-28.449219 2.257813.019531 4.507813.316406 6.695313.878906.101563 0 .199219.097657.304687.117188 11.785157 3.019531 20.320313 13.230469 21.203126 25.367187 0 .140625.058593.265625.074218.398438 0 .566406.171875 1.109375.171875 1.6875v28.449218zm71.277344-48.460937c-1.65625-3.46875-3.726563-6.722656-6.164063-9.691406-.550781-.671875-1.082031-1.363281-1.660156-2.011719-1.089844-1.191406-2.230469-2.324219-3.433594-3.402344-.738281-.664062-1.515625-1.28125-2.304687-1.898437-1.242188-.949219-2.464844-1.992188-3.792969-2.84375l118.472656-121.214844c.277344.519531.644531.945313.949219 1.507813.726562 1.304687 1.515625 2.570312 2.371094 3.792968.597656.824219 1.289062 1.5625 1.898437 2.339844 1.742187 2.074219 3.671875 3.976562 5.765625 5.691406.730469.597656 1.414062 1.242188 2.179688 1.800782 1.261718.871093 2.570312 1.671874 3.917968 2.402343.53125.300781 1.015625.671875 1.554688.945313zm139.546874-136.625c-.324218 0-.625-.085937-.949218-.09375-.113282 0-.226563-.066406-.34375-.066406-12.460938-.640625-22.40625-10.621094-23.003906-23.082031 0-.117188-.058594-.21875-.066407-.34375 0-.292969-.09375-.578126-.09375-.882813.035157-1.019531.140625-2.035156.3125-3.042969 0-.074218.046875-.140625.054688-.21875.78125-5.769531 3.59375-11.070312 7.929687-14.953125l.226563-.191406c.976562-.859375 2.019531-1.644531 3.121093-2.34375.226563-.132813.472657-.246094.703126-.378906.992187-.597657 2.03125-1.125 3.101562-1.574219.644531-.257812 1.335938-.417969 2.007812-.625.722657-.257812 1.457032-.476562 2.203126-.65625 1.515624-.300781 3.058593-.460938 4.605468-.472656.371094 0 .816406.09375 1.027344.105468h.179688c13.480468.527344 23.980468 11.886719 23.445312 25.371094-.515625 13.121094-11.316406 23.488282-24.453125 23.464844zm0 0"/>
                                  <path d="m189.773438 455.199219h18.964843v18.96875h-18.964843zm0 0"/>
                                </svg>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="title">Домашнее задание</div>
                          </li>
                          <li class="progress__item">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 5.4 6.9" style="enable-background:new 0 0 5.4 6.9;"
                                  xml:space="preserve">
                                  <title>Ресурс 2</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M0.5,6.9C0.2,6.9,0,6.7,0,6.5V1c0-0.2,0.2-0.4,0.4-0.4l1.6,0C2.1,0.2,2.4,0,2.7,0s0.6,0.2,0.7,0.5h1.6
                                        c0.2,0,0.5,0.2,0.5,0.4v5.5c0,0.2-0.2,0.4-0.4,0.5H0.5z M2.7,0.3c-0.2,0-0.4,0.2-0.4,0.4l0,0.1l-1.8,0C0.4,0.9,0.3,0.9,0.3,1v5.5
                                        c0,0.1,0.1,0.1,0.2,0.1h4.5c0.1,0,0.1-0.1,0.2-0.2l0-5.5c0-0.1-0.1-0.1-0.1-0.1H3.1V0.7C3.1,0.5,2.9,0.3,2.7,0.3z" />
                                      <path d="M3.4,1.5H2C1.7,1.4,1.6,1.2,1.6,1V0.7h0.3V1c0,0.1,0.1,0.2,0.1,0.2h1.4c0.1,0,0.2-0.1,0.2-0.2V0.7h0.3V1
                                        C3.8,1.3,3.6,1.5,3.4,1.5z" />
                                      <path d="M1.2,2.9h1.4c0.1,0,0.2,0.1,0.2,0.2v0c0,0.1-0.1,0.2-0.2,0.2H1.2c-0.1,0-0.2-0.1-0.2-0.2v0C1.1,3,1.2,2.9,1.2,2.9z" />
                                      <path d="M1.2,4.7h1.4c0.1,0,0.2,0.1,0.2,0.2v0C2.8,5,2.7,5,2.6,5H1.2C1.2,5,1.1,5,1.1,4.9v0C1.1,4.8,1.2,4.7,1.2,4.7z" />
                                      <path d="M3.7,3.6c0,0-0.1,0-0.1,0L3.1,3.1C3.1,3.1,3.1,3,3.1,2.9c0.1-0.1,0.2-0.1,0.2,0l0.3,0.3l0.5-0.8c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.8,3.5C3.8,3.6,3.7,3.6,3.7,3.6C3.7,3.6,3.7,3.6,3.7,3.6z" />
                                      <path d="M4.1,5.4c0,0-0.1,0-0.1,0L3.2,4.6c-0.1-0.1-0.1-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.2
                                        C4.1,5.4,4.1,5.4,4.1,5.4z" />
                                      <path d="M3.3,5.4c0,0-0.1,0-0.1,0c-0.1-0.1-0.1-0.2,0-0.2L4,4.4c0.1-0.1,0.2-0.1,0.2,0s0.1,0.2,0,0.2L3.4,5.4
                                        C3.4,5.4,3.3,5.4,3.3,5.4z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                              <div class="line"></div>

                            </div>
                            <div class="title">Тестирование</div>
                          </li>
                          <li class="progress__item ">
                            <div class="iconBox">
                              <div class="icon">
                                <!--<?xml version="1.0" encoding="utf-8"?>-->
                                <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 6.3 6.3" style="enable-background:new 0 0 6.3 6.3;"
                                  xml:space="preserve">
                                  <title>Ресурс 1</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M3.2,6.3C1.4,6.3,0,4.9,0,3.2S1.4,0,3.2,0c1.7,0,3.2,1.4,3.2,3.2S4.9,6.3,3.2,6.3z M3.2,0.3c-1.6,0-2.9,1.3-2.9,2.9
                                        C0.3,4.7,1.6,6,3.2,6S6,4.7,6,3.2C6,1.6,4.7,0.3,3.2,0.3z" />
                                      <path d="M3,4.3c0,0-0.1,0-0.1,0L1.7,3.2C1.6,3.1,1.6,3,1.7,2.9c0.1-0.1,0.1-0.1,0.2,0l1.1,1l1.5-2.1c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.1,4.2C3.1,4.2,3.1,4.3,3,4.3C3,4.3,3,4.3,3,4.3z" />
                                    </g>
                                  </g>
                                </svg>
                              </div>
                            </div>
                            <div class="title">Оценка</div>
                          </li>
                        </ul>
                      </div>
                    </main>
                    <button class="question__btn">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                           height="14px" viewBox="0 0 7 14" version="1.1" data-livestyle-extension="available">
                        <!-- Generator: Sketch 51.1 (57501) - http://www.bohemiancoding.com/sketch -->
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs/>
                        <g id="Обучение-(готово)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Урок-/-Дашборд" transform="translate(-958.000000, -358.000000)" fill="#000000"
                             fill-rule="nonzero">
                            <g id="Group-7" transform="translate(565.000000, 285.000000)">
                              <path d="M396.599556,83.1323336 C396.816822,83.1115792 397.022506,83.0234872 397.188629,82.8800409 L402.763909,78.0360135 C403.05426,77.7870267 403.19115,77.3997032 403.122829,77.0204695 C403.054508,76.6412358 402.7914,76.3279543 402.432972,76.1990601 C402.074544,76.0701659 401.675484,76.1453253 401.386656,76.3961246 L396.499997,80.6430459 L391.613344,76.3961246 C391.324516,76.1453253 390.925456,76.0701659 390.567028,76.1990601 C390.2086,76.3279543 389.945492,76.6412358 389.877171,77.0204695 C389.80885,77.3997032 389.94574,77.7870267 390.236091,78.0360135 L395.811371,82.8800409 C396.029713,83.0685688 396.313997,83.1595664 396.599556,83.1323336 Z"
                                    id="Shape"
                                    transform="translate(396.500000, 79.637070) scale(-1, 1) rotate(90.000000) translate(-396.500000, -79.637070) "/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                </section>
              </div>
            </div>
            <div class="col-8">
              <div class="dashbord--right">
                <h2 class="capture capture--lvl2">Мой прогресс</h2>

                <section class="download">
                  <div class="download__line">
                    <span class="download__line-numb">46%</span>
                  </div>
                </section>

                <section class="passed row">
                  <div class="passed--left col-6">
                    <h3 class="capture capture--lvl3">Пройдено</h3>
                    <ul class="passed__cont">
                      <li><b>24</b>урока</li>
                      <li><b>46</b>часов <b>35</b>минут</li>
                      <li><b>46 300</b>ракаатов намаза</li>
                    </ul>
                  </div>

                  <div class="passed--right col-6">
                    <h3 class="capture capture--lvl3">Впереди</h3>
                    <ul class="passed__cont">
                      <li><b>54</b>урока</li>
                      <li><b>85</b>часов <b>35</b>минут</li>
                      <li><b>46 300</b>ракаатов намаза</li>
                    </ul>
                  </div>
                </section>

                <section class="diagram">
                  <h2 class="capture capture--lvl2">График затраченного времени</h2>
                  <div id="linechart_material"></div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</main>