@import '../../../../assets/scss/variables';

.content {
  &--webinar-main {
    .webinar-main {
      padding: 3% 9% 3% 3.6%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      //justify-content: space-evenly;
      width: 100%;
      &__head {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .capture {
          font-size: 4em;
          color: $grey_light;
        }
      }
      &__cont {
        height: 92%;
      }
    }
  }
}