<main class="content content--webinar-main">
  <div class="container-fluid no-pg">
    <div class="row no-gutters">
      <section class="webinar-main">
        <header class="webinar-main__head">
            <h1 class="capture capture-lvl1">Вебинары</h1>
            <section class="list d-flex align-items-center">
              <ul class="list_cont d-flex">
                <li class="item" routerLinkActive="active">
                  <a [routerLink]="['/webinar-main/webinars/coming/current']">
                    Предстоящие
                  </a>
                </li>
                <li class="item" routerLinkActive="active">
                  <a [routerLink]="['/webinar-main/webinars/archive']">
                    Архив
                  </a>
                </li>
              </ul>
            </section>
        </header>
        <main class="webinar-main__cont">
          <router-outlet></router-outlet>
        </main>
      </section>
    </div>
  </div>
</main>
