body {
  color: $black;
  font: 400 16px / normal "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  background: #fff;
  @include breakpoint(320px) {
    margin: 0;
  }

  @media (max-height: 800px) {
    font-size: 14px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.wrap {
  display: flex;
  position: relative;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

h1 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: #999;
}

::-webkit-scrollbar-track {
  background-color: #999;
  width: 11px;
}

::-webkit-scrollbar-track-piece {
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb {
  background-color: $yellow;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  display: block;
}

.gradient {
  width: 100%;
  height: 85px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.55), #fff)
}

.no-pg {
  padding: 0;
}

.h100 {
  height: 100%;
}

.h90vh {
  height: calc(100vh - #{$height-taskbar});
}

.w100 {
  width: 100%;
}

.box-line {
  &::after {
    content: '';
    border: .5px solid $grey;
    flex: 1;
    margin-left: 10px;
  }
}

label.checkboxSection {
  margin-right: 10px;
  input {
    display: none;
    &:checked + .checkbox::after {
      content: url("assets/img/icons/check2.svg");
      background: $yellow;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  input.check-big {
    display: none;
    &:checked + .checkbox::before {
      content: '';
      background: $yellow;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:checked + .checkbox::after {
      content: url("assets/img/icons/ok.svg");
      position: absolute;
      background: 0;
      width: 13px;
      height: 13px;
      top: 4px;
      left: 3px;
    }
  }

  input.check-title {
    display: none;
    &:checked + .checkbox::after {
      content: url("assets/img/icons/white-minus-icon.svg");
      position: absolute;
      background: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  input.checkbox-title {
    display: none;
    &:checked + .checkbox::after {
      content: url("assets/img/icons/white-checkmark.svg");
      position: absolute;
      background: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .checkbox,
  .check-wrong,
  .check-right {
    position: relative;
    width: 20.7px;
    height: 20.9px;
    border-radius: 4px;
    border: solid 1px #c8c8c8;
    display: inline-block;
  }

  .checkbox {
    cursor: pointer;
  }

  .check-wrong {
    background: $light-red;
    &::after {
      content: url("assets/img/icons/check2.svg");
    }
  }

  .check-right {
    background: $green;
  }
}

.message {
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
  }

  &::before {
    content: '';
    left: -9px;
    bottom: -1px;
    border-right: 10px solid $green;
    border-top: 10px solid transparent;
  }

  &::after {
    content: '';
    left: -7px;
    bottom: 0px;
    border-right: 9px solid #fff;
    border-top: 9px solid transparent;
  }
}
