@import "mixins/font-face";


@include font-face("school", "assets/fonts/icon/school");


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'school' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-check2:before {
  content: "\e905";
}
.icon-dictionary:before {
  content: "\e906";
}
.icon-exhortation:before {
  content: "\e907";
}
.icon-FAQ:before {
  content: "\e908";
}
.icon-lamp:before {
  content: "\e909";
}
.icon-man:before {
  content: "\e90a";
}
.icon-mosque:before {
  content: "\e90b";
}
.icon-motivation:before {
  content: "\e90c";
}
.icon-namaz:before {
  content: "\e90d";
}
.icon-next1:before {
  content: "\e902";
}
.icon-next-big:before {
  content: "\e90e";
}
.icon-notes:before {
  content: "\e90f";
}
.icon-notification:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e911";
}
.icon-play2:before {
  content: "\e912";
}
.icon-praer:before {
  content: "\e913";
}
.icon-praer-sajda:before {
  content: "\e914";
}
.icon-prevbig:before {
  content: "\e915";
}
.icon-quran:before {
  content: "\e916";
}
.icon-quran2:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e91d";
}
.icon-self-control:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e91f";
}
.icon-right:before {
  content: "\e920";
}
.icon-top:before {
  content: "\e921";
}
.icon-task:before {
  content: "\e923";
}
.icon-training:before {
  content: "\e924";
}
.icon-volume:before {
  content: "\e925";
}
.icon-webinar:before {
  content: "\e926";
}
.icon-close:before {
  content: "\e927";
}

.icon-ok:before {
  content: "\e804";
}

.icon-pencil:before {
  content: "\e918";
}

.icon-prof:before {
  content: "\e919";
}

.icon-ok-edge:before {
  content: "\e837";
}

.icon-penc:before {
  content: "\e91a";
}
