//color

$black: #000;
$light_black: #4a4a4a;

$yellow: #f2d82d;
$yellow-light: #ffea60;

$blue: #2880e8;
$light-blue:#4596f2;

$grey: #dcdcdc;
$grey_light: #e4e4e4;

$red: #e16262;
$light-red: #de6162;




$green: #9ad959;
$green_light: #d0eaaf;

$box_shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);


//font 

$roboto: 'Roboto', sans-serif;
$PTserif: 'PT Serif', serif;


$height-taskbar: 5.75em;



