@import '../../../assets/scss/variables';

.content {
  &--lesson {
    .lesson-box {
      padding: 3% 9% 3% 3.6%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      //justify-content: space-evenly;
      width: 100%;
      &__head {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .capture {
          font-size: 4em;
          color: $grey_light;
        }
      }

      &__cont {
        height: 92%;
        .menu-list {
          margin-bottom: .5em;
        }
        .info-list {
          margin: 2em 0;
        }

        .download {
          width: 100%;
          height: 4px;
          background: $grey;
          position: relative;
          margin-bottom: 4.6%;
          &__line {
            position: absolute;
            width: 32%;
            height: 8px;
            left: 0;
            top: -2px;
            background-image: linear-gradient(to right, rgb(58, 137, 255), #1bedff);
            &-numb {
              position: absolute;
              right: -75px;
              top: -14px;
              font-size: 2.25em;
              font-weight: bold;
              color: $light-blue;
            }
          }
          &__cont {
            margin-top: 1.5em;
            display: flex;
            justify-content: space-between;
            &-title {
              font-weight: bold;
            }
            &-action {
              cursor: pointer;
              color: $light-blue;
              font-size: .8em;
              border-bottom: 1px dashed $light-blue;
            }
          }
        }

        .weeks-box {
          position: relative;
          margin: -1em -1.5em 0;
          &::after {
            content: "";
            width: 200px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
          }
          .week-box-wrapper {
            overflow-y: scroll;
            padding: 1em 1.5em 0;
            position: relative;

            &::-webkit-scrollbar {
              width: 0;
              //height: 1px;
              //background-color: #F5F5F5;
            }
            //&::-webkit-scrollbar-track {
            //  border-radius: 10px;
            //  background-color: #F5F5F5;
            //}
            //&::-webkit-scrollbar-thumb {
            //  border-radius: 10px;
            //  background-color: $yellow;
            //}
          }
          .week {
            display: flex;
            flex-direction: column;
            min-width: 32vw;
            height: 450px;
            border: solid 1px #ebebeb;
            padding: 1.5em 2em;
            transition: .3s;
            margin-right: 1.5em;
            &:hover {
              box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
              border: solid 1px transparent;
              cursor: pointer;
            }
            .capture--lvl2 {
              font-size: 1.7em;
              position: relative;
              color: #000;
              margin: 0;

              @media (max-height: 700px) {
                margin-bottom: .6%;
              }

              &.current-week {
                &::after {
                  color: $grey;
                  content: 'текущая неделя';
                  font-size: .55em;
                  position: absolute;
                  top: .8em;
                  margin-left: 10px;
                }
              }
            }
            .question {
              margin: 1.5em 0;
              &__cont {
                align-items: start;
              }
              &__capt-box {
                flex: 0 0 95%;
                font-size: .9em;
                &.question-first {
                  overflow: hidden;
                  flex: 0 0 45%;
                  .question__capt {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                  }
                }
              }
              .progress {
                width: 5%;
                &.progress-first {
                  width: 50%;
                  .progress-first__content {
                    justify-content: flex-end;
                    .progress__item-last-item {
                      width: 10%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}