@import '../../../../../assets/scss/variables';

.webinar-main__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: $grey_light;
  margin-bottom: 1em;
  .current-month {
  }
  .next-month {
    text-decoration: none;
    cursor: pointer;
    .text {
      color: $grey_light;
    }
    .slide-right {
      color: $grey_light;
    }
  }
}