<div class="webinar-main__nav">
  <div class="current-month">Вебинары в сентябре</div>
  <div class="next-month">
    <a class="text" [routerLink]="['/webinar-main/webinars/coming/current']">
      Октябрь
    </a>
    <span class="slide-right icon-next-big"></span>
  </div>
</div>
<router-outlet></router-outlet>