<div class="sidebar">
  <figure class="logo">
    <a [routerLink]="['/dashboard-main']">
      <img class="logo__img" src="./assets/img/logo.svg" alt="">
    </a>
  </figure>
  <nav class="nav">
    <ul class="nav__content">
      <li class="nav__item" routerLinkActive="active">
        <a [routerLink]="['/dashboard-main']">
          <img src="./assets/img/icons/mosque.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a [routerLink]="['/lesson-main']">
          <img src="./assets/img/icons/training.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a [routerLink]="'/quran-main'">
          <img src="./assets/img/icons/quran.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a [routerLink]="'webinar-main/webinars/coming/current'">
          <img src="./assets/img/icons/webinar.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a [routerLink]="'self-control-main'">
          <img src="./assets/img/icons/self-control.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a routerLink="/motivation">
          <img src="./assets/img/icons/motivation.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a routerLink="/man">
          <img src="./assets/img/icons/man.svg" alt="">
        </a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a routerLink="/search">
          <img src="./assets/img/icons/search.svg" alt="">
        </a>
      </li>
    </ul>
  </nav>
</div>
