@import '../../../assets/scss/variables';

.content {
  &--self-control {
    .capture {
      color: $grey_light;
    }
    .self-control-box {
      padding: 3% 9% 3% 3.6%;
      display: flex;
      flex-direction: column;
      //height: 100vh;
      //justify-content: space-evenly;
      width: 100%;
      &__head {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .capture {
          font-size: 4em;
        }
      }

      &__cont {
        height: 92%;
        .filters-section {
          height: 30%;
          margin-top: 1.5em;
          &__title {
            display: flex;
            align-items: center;
            padding: 0;
            h4 {
              color: #E4E4E4;
              font-size: 18px;
            }
          }
          .courses-filter, .subjects-filter, .lessons-filter {
            display: flex;
            align-self: center;
            margin-bottom: .3em;
          }
        }
        .themes-section {
          //margin-top: 1.5em;
          height: 70%;
          width: 100%;
          border: 1px solid #E4E4E4;
          padding: 38px 24px;
          overflow-y: scroll;
          .theme {
            display: flex;
            flex-direction: row;
            max-height: 220px;
            margin-bottom: 2em;
            .theme-name {
              flex: 1;
              display: flex;
              &__title {
                width: 100%;
                .title {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  h4 {
                    margin-right: 4px;
                  }
                  span {
                    font-size: 12px;
                    color: #BEBEBE;
                    font-weight: bold;
                  }
                }
                .course {
                  font-size: 12px;
                  color: #4A98F2;
                }
              }
            }
            .theme-list {
              flex: 6;
              display: flex;
              ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                li {
                  display: flex;
                  align-items: center;
                  font-size: 12px;
                  margin-right: 4em;
                  margin-bottom: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabs {
  padding: 0;
  ul {
    li {
      display: inline-block;
      padding: .7em 1.1em;
      margin-right: .7em;
      margin-bottom: .2em;
      font-size: 12px;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      background-color: #f7f7f7;
      &.active {
        background-color: $blue;
        color: #fff;
      }
      &.disabled {
        color: #C9C9C9;
      }
    }
  }
}

.checkboxSection {
  margin-right: 1em;
  input {
    &:checked + .checkbox::after {
      background: #4A98F2;
    }
  }
  input.checkbox {
    display: none;
  }
  span.checkbox {
    overflow: hidden;
    background-color: #fff;
    width: 15px;
    height: 15px;
  }
}

.taskbar {
  box-shadow: none;
  &-box {
    padding: 0;
  }
  .taskbar-btnBox__btn {
    font-weight: 300;
    font-size: 1em;
  }
  .btn--main {
    font-size: 1em;
  }
  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .start-button {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        .icon {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
      .count-lesson {
        margin-right: 2em;
        span {
          font-weight: bold;
        }
      }
    }
  }
  &::before {
    background: transparent;
  }
}