<!--<div class="burger-menu"></div>-->
<!-- Тут меню бургера -->
<main class="content content--self-control h90vh">
  <div class="container-fluid no-pg h100">
    <div class="row no-gutters h100">
      <section class="self-control-box">
        <header class="self-control-box__head">
          <h1 class="capture capture-lvl1">
            Самоконтроль
          </h1>
        </header>
        <main class="self-control-box__cont">
          <div class="row h100">
            <!--justify-content-around-->
            <div class="col-12 d-flex flex-column">
              <section class="filters-section row">
                <div class="courses-filter col-12">
                  <div class="filters-section__title col-2">
                    <h4>Выберите курс</h4>
                  </div>
                  <div class="tabs col-10">
                    <ul>
                      <li>Курс 1</li>
                      <li class="active">Курс 2</li>
                      <li class="active">Курс 3</li>
                      <li class="disabled">Курс 4</li>
                    </ul>
                  </div>
                </div>
                <div class="subjects-filter col-12">
                  <div class="filters-section__title col-2">
                    <h4>Выберите предмет</h4>
                  </div>
                  <div class="tabs col-10">
                    <ul>
                      <li>Арабский язык</li>
                      <li class="active">Таджвид</li>
                      <li class="active">Акыда</li>
                      <li class="disabled">Фикх</li>
                      <li>История пророков</li>
                      <li>Жизнеописание пророка</li>
                      <li class="disabled">Тафсир</li>
                      <li>Ахляк и адаб</li>
                      <li>Корановедение</li>
                      <li>Хадисоведение</li>
                    </ul>
                  </div>
                </div>
                <div class="lessons-filter col-12">
                  <div class="filters-section__title col-2">
                    <h4>Выберите урок</h4>
                  </div>
                  <div class="tabs col-10">
                    <ul>
                      <li>Курс 1</li>
                      <li class="active">Курс 2</li>
                      <li class="active">Курс 3</li>
                      <li class="disabled">Курс 4</li>
                    </ul>
                  </div>
                </div>
              </section>
              <section class="themes-section">
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input checked type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input checked type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input checked type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="checkbox-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Жизненное описание пророка</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="theme">
                  <div class="theme-name">
                    <label class="checkboxSection">
                      <input type="checkbox" class="check-title">
                      <span class="checkbox"></span>
                    </label>
                    <div class="theme-name__title">
                      <div class="title">
                        <h4>Фикх</h4>
                        <span class="count">47</span>
                      </div>
                      <span class="course">Курс 2</span>
                    </div>
                  </div>
                  <div class="theme-list">
                    <ul>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Религия Ислам и ее особенности. Что такое религия?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Иман (вера). Шесть столпов веры. Как принять ислам?</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Доводы о вере. Как избежать ошибок</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Аллаха. Четырнадцать сыфатов Аллаха</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Ангелов. Джинны</span>
                      </li>
                      <li class="theme-list__item">
                        <label class="checkboxSection">
                          <input type="checkbox" class="checkbox-title">
                          <span class="checkbox"></span>
                        </label>
                        <span class="text">Вера в Священные Писания</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </main>
      </section>
    </div>
  </div>
</main>
<div class="taskbar">
  <div class="container-fluid action col-12 taskbar-box">
    <div class="reset-button">
      <button class="taskbar-btnBox__btn btn">
        Сбросить выбор
      </button>
    </div>
    <div class="start-button">
      <div class="count-lesson">Выбрано: <span>3 урока</span></div>
      <button class="btn--main btn">
        <div class="icon">
          <!--<?xml version="1.0" encoding="utf-8"?>-->
          <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px" viewBox="0 0 5.4 6.9" style="enable-background:new 0 0 5.4 6.9;"
                                  xml:space="preserve">
                                  <title>Ресурс 2</title>
                                  <g id="Слой_2">
                                    <g id="Слой_1-2">
                                      <path d="M0.5,6.9C0.2,6.9,0,6.7,0,6.5V1c0-0.2,0.2-0.4,0.4-0.4l1.6,0C2.1,0.2,2.4,0,2.7,0s0.6,0.2,0.7,0.5h1.6
                                        c0.2,0,0.5,0.2,0.5,0.4v5.5c0,0.2-0.2,0.4-0.4,0.5H0.5z M2.7,0.3c-0.2,0-0.4,0.2-0.4,0.4l0,0.1l-1.8,0C0.4,0.9,0.3,0.9,0.3,1v5.5
                                        c0,0.1,0.1,0.1,0.2,0.1h4.5c0.1,0,0.1-0.1,0.2-0.2l0-5.5c0-0.1-0.1-0.1-0.1-0.1H3.1V0.7C3.1,0.5,2.9,0.3,2.7,0.3z" />
                                      <path d="M3.4,1.5H2C1.7,1.4,1.6,1.2,1.6,1V0.7h0.3V1c0,0.1,0.1,0.2,0.1,0.2h1.4c0.1,0,0.2-0.1,0.2-0.2V0.7h0.3V1
                                        C3.8,1.3,3.6,1.5,3.4,1.5z" />
                                      <path d="M1.2,2.9h1.4c0.1,0,0.2,0.1,0.2,0.2v0c0,0.1-0.1,0.2-0.2,0.2H1.2c-0.1,0-0.2-0.1-0.2-0.2v0C1.1,3,1.2,2.9,1.2,2.9z" />
                                      <path d="M1.2,4.7h1.4c0.1,0,0.2,0.1,0.2,0.2v0C2.8,5,2.7,5,2.6,5H1.2C1.2,5,1.1,5,1.1,4.9v0C1.1,4.8,1.2,4.7,1.2,4.7z" />
                                      <path d="M3.7,3.6c0,0-0.1,0-0.1,0L3.1,3.1C3.1,3.1,3.1,3,3.1,2.9c0.1-0.1,0.2-0.1,0.2,0l0.3,0.3l0.5-0.8c0-0.1,0.1-0.1,0.2,0
                                        c0.1,0,0.1,0.1,0,0.2L3.8,3.5C3.8,3.6,3.7,3.6,3.7,3.6C3.7,3.6,3.7,3.6,3.7,3.6z" />
                                      <path d="M4.1,5.4c0,0-0.1,0-0.1,0L3.2,4.6c-0.1-0.1-0.1-0.2,0-0.2c0.1-0.1,0.2-0.1,0.2,0l0.8,0.8c0.1,0.1,0.1,0.2,0,0.2
                                        C4.1,5.4,4.1,5.4,4.1,5.4z" />
                                      <path d="M3.3,5.4c0,0-0.1,0-0.1,0c-0.1-0.1-0.1-0.2,0-0.2L4,4.4c0.1-0.1,0.2-0.1,0.2,0s0.1,0.2,0,0.2L3.4,5.4
                                        C3.4,5.4,3.3,5.4,3.3,5.4z" />
                                    </g>
                                  </g>
                                </svg>
        </div>
        <span>Начать тестирование</span>
      </button>
    </div>
  </div>
</div>