//@import '../../../../node_modules/normalize.css/normalize.css';
@import '../variables';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Poppins', 'Open Sans', Helvetica, system-ui, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

a {
  text-decoration: none;
}