.burger-menu {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 100;

  @include media-breakpoint-up(xl) {
    left: 55px;
    top: 45px;
  }
  @media (max-height: 700px) {
    left: 30px;
    top: 30px;
  }
  &::before {
    content: url('assets/img/icons/burger.svg');
  }

  &.active {
    &::before {
      content: url('assets/img/icons/x.svg');
    }
  }
}

