@import "../variables";

button {
  border: 0;
}

.btn {
  border-radius: .3125em;
  cursor: pointer;
  border: 0;
  background: none;
  padding: .6875em 1.8125em;
  &--main {
    background: $yellow;
    font-size: .875em;
    border: 1px solid $yellow;
    &:hover {
      background: transparent;
      color: $yellow;
    }
  }

  &--blue {
    border: 1px solid $blue;
    font-size: 0.75em;
    color: $blue;
  }
}

.btn-micro {
  border: 0;
  background: 0;
  border-radius: 4px;
  cursor: pointer;
  &--gotop {
    position: absolute;
    left: 65px;
    bottom: 45px;
    background: $yellow;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }
}

.close {
  background: url('assets/img/icons/x.svg');
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

@mixin mixin-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}

.attach-icon {
  background: url('assets/img/icons/Attachment-icon.svg') no-repeat center;
  @include mixin-icon;
}

.search-icon {
  background: url('assets/img/icons/Search-icon.svg') no-repeat center;
  @include mixin-icon;
}

.upload-icon {
  background: url('assets/img/icons/Upload-icon.svg') no-repeat center;
  @include mixin-icon;
}

.b-plus-icon {
  background: url('assets/img/icons/black-plus-icon.svg') no-repeat center;
  @include mixin-icon;
}

.man-icon {
  background: url('assets/img/icons/man-icon.svg') no-repeat center;
  @include mixin-icon;
}

.time-icon {
  background: url('assets/img/icons/time-icon.svg') no-repeat center;
  @include mixin-icon;
}