.content {
  width: 100%;
  position: relative;
  &-wrap {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    padding-right: 144px;
    position: relative;
    @include media-breakpoint-down(lg) {
      padding-right: 100px;
    }
  }

  .quran-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
    .btn {
      padding: 0;
    }

    figure {
      height: 100%;
      img {
        mix-blend-mode: multiply;
        height: inherit;
        @include media-breakpoint-down(lg) {
          width: 100%;
        }
      }
    }
  }

  .settingsBox {
    position: absolute;
    right: 144px;
    top: 30px;
    @include media-breakpoint-down(lg) {
      right: 100px;
    }
    &__content {
      li {
        margin-left: 16px;
        line-height: 0;
        font-weight: 500;
        a {
          color: #9b9b9b;
          i {
            font-size: 20px;
          }
        }
      }
    }

  }

  &--index {
    background: no-repeat center;
    .capture {
      color: $grey_light;
    }
  }

  &--dashbord {
    .capture {
      color: $grey_light;
    }
    .dashbord {
      padding: 3% 110px 3% 3.6%;
      //padding: 3% 9% 3% 3.6%;
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: space-evenly;
      &__head {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__cont {
        height: 85%;
      }

      .capture--lvl2 {
        margin-bottom: 3%;
      }

      &--left {
        .list {
          margin-bottom: 6.6%;
          @media (max-height: 800px) {
            margin-bottom: 1.6%;
          }
        }
      }

      &--right {
        display: flex;
        flex-direction: column;
        height: 60%;
        .capture--lvl2 {
          display: flex;
          align-items: flex-start;
          &::after {
            content: 'курс 1';
            font-size: 1.125rem;
            margin-left: 10px;
          }
        }

        .download {
          width: 100%;
          height: 6px;
          background: $grey;
          position: relative;
          margin-bottom: 4.6%;
          &__line {
            position: absolute;
            width: 46%;
            height: 6px;
            left: 0;
            background-image: linear-gradient(to right, rgb(58, 137, 255), #1bedff);
            &-numb {
              position: absolute;
              right: -45px;
              top: -10px;
              font-size: 1.25em;
              font-weight: bold;
              color: $light-blue;
            }
          }
        }

        .passed {
          .capture {
            margin-bottom: 6%;
          }
          &__cont {
            li {
              display: flex;
              align-items: center;
              font-weight: 900;
              margin-bottom: 5%;
              b {
                font-size: 1.375em;
                margin: 0 5px;
              }
            }

          }
          &--left {
            b {
              color: $blue;
            }
          }

          &--right {
            b {
              color: $green;
            }
          }
        }

      }

    }

  }

  &--result {

    .techBox {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      &__cont {
        padding-bottom: 20%;
        padding-left: 12%;
        .title {
          color: #ffffff;
          font-weight: 500;
          margin-bottom: 10px;
          display: block;
        }

        .capture {
          color: #ffffff;
          margin-bottom: 22px;
        }

        .btn {
          display: flex;
          align-items: center;
          svg {
            margin-left: 5px;
          }
        }
      }
    }

    .resultBox {
      padding: 6% 3.8%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media screen and (max-width: 1400px) {
        .capture--lvl1 {
          font-size: 3.5em;
        }
      }
      &__head {
        .box {
          margin-top: 1.5%;
          &::after {
            content: '';
            border: 1px solid $grey;
            flex: 1;
            margin-left: 10px;
          }

          .btn {
            margin-left: 10px;
          }

          .title {
            font-weight: 500;
          }
        }
      }

      &__cont {
        @media screen and (max-width: 1400px) {
          .capture--lvl2 {
            font-size: 1.5em;
          }
        }
        .btn {
          border: solid 1px #dddddd;

        }

        .capture--lvl1 {
          margin: 0 5px;
        }
        &--top {
          margin-bottom: 5%;
          @media screen and (max-width: 1400px) {
            margin-bottom: 3%;
          }
          .item {
            margin: 3% 0;

          }
        }

        &--bottom {
          align-items: center;
          header {
            margin-bottom: 5%;
            .capture {
              line-height: 1;

            }
            .resultBox-question {
              font-size: 0.875em;
              border-radius: 100%;
              border: 1px solid $blue;
              padding: 0.14285714285714285em 0.5em;
              margin-left: 15px;
              cursor: pointer;
            }
          }
          .item {
            text-align: center;
            padding: 0 3%;
            border: 1px solid #dddddd;
            flex-direction: column;
            min-height: 195px;
            align-items: center;
            justify-content: center;
            position: relative;
            @media screen and (max-width: 1400px) {
              min-height: 150px;
              .capture--lvl4 {
                font-size: 1.2em;
              }
              .capture--lvl1 {
                font-size: 3.5em;
              }
            }
            i {
              width: 70px;
              position: absolute;
              top: -23px;
              text-align: center;
              font-size: 40px;
              color: #e8e8e8;
              background: #fff;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          .comparison {
            text-align: center;
            vertical-align: middle;
            font-family: $PTserif;
            font-size: 3.938em;
            font-weight: 900;
          }
        }

        .lesson-leaders {
          header {
            margin-bottom: 3%;
          }

          .popup-messages__dialogs-list ul {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 43vh;
            padding-right: 30px;
            @media screen and (max-width: 1400px) {
              padding-right: 10px;
            }
            @include media-breakpoint-down(lg) {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  &--test {
    display: flex;
    align-items: center;
    height: 90vh;
    .test {
      &--left {
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        > li {
          position: relative;
          color: #a7a7a7;
          width: 22px;
          span {
            z-index: 1;
          }
          &.active {
            color: $black;
            font-weight: 500;
          }

          &.select,
          &.right,
          &.wrong {
            &::before {
              content: '';
              left: 50%;
              top: 50%;
              position: absolute;
              width: 20px;
              height: 20px;
              border-radius: 100%;
              z-index: -1;
              transform: translate(-50%, -50%);
            }
          }

          &.select {
            &::before {
              background: $yellow;
            }
          }

          &.right {
            &::before {
              border: 1px solid $green;
            }
          }

          &.wrong {
            &::before {
              border: 1px solid $light-red;
            }
          }
        }
      }
      &--right {
        display: flex;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: column;
        height: 80vh;
        padding-right: 20px;
        > header {
          margin-bottom: 1%;
        }
        .item {
          header {
            margin-bottom: 2%;
          }

          &__title {
            margin-bottom: 2%;
          }
          main {
            ul {
              li {
                font-size: 0.875em;
                display: flex;
                align-items: center;
                margin-bottom: 1%;

              }
            }
          }

          &.wrong {
            > header {
              color: $light-red;
            }
          }

          &.right {
            > header {
              color: $green;
            }
          }

          .right-answer {
            color: $green;
            margin-left: 5px;
          }
        }
      }
    }
  }

  &--qcover {
    .qcover {
      &--left {
        height: 100vh;
        img {
          mix-blend-mode: multiply;
          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }
      }
      &--right {
        height: 100vh;
        h4 {
          margin-bottom: 2.5%;
        }
        h1 {
          margin-bottom: 2.8%;
        }

        img {
          mix-blend-mode: multiply;
          margin-bottom: 2.5%;
        }

        &__box {
          margin-bottom: 7.8%;
          li {
            font-size: 1.875em;
            margin-right: 16%;
            span {
              font-size: 4.5rem;
            }
          }
        }

        .btn {
          padding-top: 17px;
          padding-bottom: 17px;
        }
      }
    }
  }

  &--listenteach {
    position: relative;
    .progress {
      position: absolute;
      bottom: 30px;
      left: 55px;
      width: 400px;
      @media (max-width: 1441px) {
        width: 280px;
      }
      @include media-breakpoint-down(lg) {
        left: 30px;
      }
      .btn-micro {
        position: static;
        margin-bottom: 20px;
      }
      li {
        width: 100%;
      }
    }

    .quran-page {
      width: 100%;
      padding-left: 55px;
      padding-right: 144px;
    }

  }

  &--readrecord {
    .read-record {
      max-width: 650px;
      @include media-breakpoint-down(lg) {
        max-width: inherit;
      }
      &__head {
        margin-bottom: 10px;
        .capture {
          &::after {
            content: ' 3 из 14';
            font-size: 0.5625em;
            vertical-align: top;
          }
        }
      }

      .record {
        border-radius: 5px;
        border: solid 1px #fff;

        label {
          margin-right: 20px;
          line-height: 0;
          .checkbox {
            width: 14.7px;
            height: 14.8px;
          }
        }

        &__head {
          &-top {
            background: #e0efff;
            padding: 10px 20px;
            border-top: solid 1px transparent;
            border-left: solid 1px transparent;
            border-right: solid 1px transparent;
            border-radius: 5px;
            .btn {
              padding: 4px 8px;
              background: #fff;
              font-size: 12px;
              color: #9cb6d2;
              border: 1px solid #fff;
              letter-spacing: normal;
              &:hover {
                border: 1px solid #9cb6d2;
                background: none;
              }
              &::before {
                content: '';
                width: 14px;
                height: 14px;
                background-color: #7f96ae;
                display: inline-block;
                border-radius: 5px;
                margin-right: 5px;
              }
            }

            .select {
              position: relative;
              select {
                width: 35px;
                padding-right: 10px;
                background: url('assets/img/icons/bottom2.svg') no-repeat right center;
                background-size: 9px;
                border: 0;
                font-size: 12px;
                color: #a1aab3;
                appearance: none; /* remove arrow        */
                -webkit-appearance: none; /* remove arrow Chrome */
                -moz-appearance: none; /* remove arrow FF     */
                -ms-appearance: none;
                cursor: pointer;
                &::-ms-expand {
                  display: none;
                }
              }
            }

          }

          &-bottom {
            background: #4596f2;
            padding: 32px;

            h3, p {
              color: #fff;
            }

            h3 {
              margin-bottom: 3px;
            }
            .btn {
              font-size: 1em;
              line-height: 0;
              padding: 0.9375em;
              white-space: nowrap;
              &::before {
                content: '';
                width: 20px;
                height: 20px;
                background-color: #de6162;
                display: inline-block;
                border-radius: 50px;
                margin-right: 15px;
              }
            }
          }

        }

        &__cont {
          border-bottom: solid 1px #c9c9c9;
          border-left: solid 1px #c9c9c9;
          border-right: solid 1px #c9c9c9;
          border-radius: 5px;
          .cont-wrap {
            padding: 1.25em;
            margin-right: 20px;
            margin-bottom: 20px;
            height: 100%;
            overflow-x: hidden;
            @media (max-height: 700px) {
              max-height: 350px;
              overflow-y: scroll;
            }
          }
          .item {
            margin-bottom: 20px;
          }
        }
      }
    }

    &.record-correct {

      .quran-page {
        figure {
          position: relative;
          span {
            position: absolute;
            height: 6%;
            display: block;
            mix-blend-mode: multiply;
            &.right {
              background: $green;
              width: 50%;
              top: 7px;
              right: 0;
            }

            &.wrong {
              background: $red;
              width: 50%;
              top: 47%;
              right: 39%;
            }
          }
        }
      }

      .record {
        &__cont {
          .item {
            margin-bottom: 0.9375em;
            @include media-breakpoint-down(xl) {
              margin-bottom: 0.3125em;
            }
            .player {
              padding: 0.625em;
              border-radius: 4px;
              width: 60%;
              position: relative;
              button {
                margin-right: 10px;
              }

              &::before,
              &::after {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
              }

              &::before {
                left: -9px;
                bottom: -1px;
                border-top: 10px solid transparent;
              }

              &::after {
                left: -7px;
                bottom: 0px;
                border-right: 9px solid #fff;
                border-top: 9px solid transparent;
              }
            }

            &.right {
              .player {
                border: 1px solid $green;
                .equalizer li {
                  background-color: $green;
                }
                &::before {
                  border-right: 10px solid $green;
                }
              }
              .corrected {
                color: $green;
                font-size: 12px;
                margin-left: 15px;
                i {
                  margin-right: 5px;
                }
              }
            }

            &.wrong {
              .player {
                border: 1px solid $red;
                .equalizer li {
                  background-color: $red;
                }

                &::before {
                  border-right: 10px solid $red;
                }
              }

              .correct-btn {
                margin-left: 10px;
                .btn {
                  font-size: 0.75em;
                  padding: 1.3333333333333333em;
                  line-height: 1;
                  i {
                    border-radius: 50px;
                    width: 10px;
                    height: 10px;
                    display: block;
                    background: #000;
                    margin-right: 5px;
                  }
                }
              }
            }

            &.teacher-mes {
              justify-content: flex-end;
              .player {
                background: #e0efff;
                .equalizer li {
                  background-color: #93bdef;
                }

                &::before {
                  border-left: 10px solid #e0efff;
                  border-top: 10px solid transparent;
                  bottom: 0px;
                  right: -9px;
                  left: auto;
                }

                &::after {
                  display: none;
                  border-right: 9px solid #e0efff;
                  border-top: 9px solid transparent;
                  right: -7px;
                  left: auto;
                }
              }

              p {
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  display: block;
                  width: 10px;
                  height: 10px;
                  border-left: 10px solid #e0efff;
                  border-top: 10px solid transparent;
                  bottom: 0px;
                  right: -9px;
                  left: auto;
                }
              }

              .teacher-profile {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                margin-left: 15px;
                position: relative;
                &.active {
                  border: 5px solid #c9c9c9;
                }

                &__box {
                  position: absolute;
                  background: #fff;
                  z-index: 1;
                  padding: 20px;
                  border-radius: 4px;
                  border: solid 1px #ebebeb;
                  box-shadow: $box-shadow;
                  right: 0;
                  top: 45px;
                  min-width: 200px;
                  font-size: 14px;
                  line-height: 1.36;
                  i {
                    margin-right: 10px;
                    color: #000;
                    font-size: 20px;
                  }
                  li {
                    margin-bottom: 20px;
                    cursor: pointer;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }

            }

            &.record-last-mes {
              padding-top: 12px;
              border-top: 1px solid #d6d6d6;
              margin-bottom: 0;
              p {
                padding: 1.3846153846153846em;
                background: #e0efff;
                border-radius: 4px;
                font-size: 0.8125em;
                width: 100%;
              }
            }
          }
        }
      }

    }
  }

  &--pravilo {
    .popup {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
      &__content {
        padding-top: 20px;
        .title {
          font-size: 0.9375em;
          font-weight: bold;
          border-bottom: 3px solid $blue;
          display: inline-block;
          line-height: 1.27;
          margin-bottom: 10px;
          padding-bottom: 5px;
        }
      }
    }
  }

  &--listenteach2 {

    .quran-page {
      width: 100%;
      padding-left: 55px;
      padding-right: 144px;

      .quranTranslate {
        max-width: 790px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media(max-height: 750px) {
          display: block;
          padding-right: 50px;
          overflow-y: scroll;
        }
        .quranPlayBox {
          border-top: 1px solid $grey_light;
          padding-top: 20px;
          margin-bottom: 10px;
          &__play {
            .time {
              font-size: 1.125em;
              color: $grey_light;
              margin-top: 10px;
              margin-bottom: 1.3888888888888888em;
            }

            .play {
              background: $yellow;
              color: #fff;
              width: 52px;
              height: 52px;
              border-radius: 100px;
              font-size: 18px;
              border: 1px solid $yellow;
              cursor: pointer;
              &:hover {
                background: 0;
                color: $yellow;
              }
            }
          }
          &__arab {
            figure {
              height: auto;
            }
            img {
              width: 100%;
            }
          }
        }

        .quranTranslBox {
          margin-bottom: 20px;
          .capture {
            margin-bottom: 5px;
          }
          .text {
            line-height: 1.63;
          }
        }
      }

    }
    .btn-microBox {
      position: absolute;
      left: 30px;
      bottom: 50px;
      font-weight: 500;
      @media screen and (max-width: 1650px) {
        font-size: 0;
      }
      @include media-breakpoint-up(xl) {

        left: 65px;
      }
      .btn-micro {
        position: static;
        margin-right: 10px;
      }
    }

    .settings-wrap {
      position: relative;
    }

    .settings-popup {
      box-shadow: $box-shadow;
      position: absolute;
      left: -170px;
      top: 10px;
      min-width: 250px;
      .item {
        padding: 18px;
        background: #fff;
        border: solid 1px #e4e4e4;
        font-size: 0.75em;

        &__title {
          margin-bottom: 12px;
        }
        &__params {
          margin-bottom: 20px;
          li {
            color: #7f7f7f;
            margin-right: 10px;
            &.active {
              background: $blue;
              padding: 5px 10px;
              border-radius: 50px;
              color: #fff;
            }
          }
        }

        &__content {
          li {
            margin-bottom: 10px;
            color: #858585;
            сгкз
            &.active {
              color: #000;
            }
          }

          .btnBox {
            button {
              margin-top: 10px;
              width: 69px;
              height: 34px;
              border: solid 1px #ebebeb;
              background: 0;
              cursor: pointer;
            }
            &__big {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  &--totals {
    @media screen and (max-width: 1400px) {
      .resultBox__cont--bottom .item .capture--lvl1 {
        font-size: 2.5em;
      }

      .resultBox__cont--bottom .item {
        min-height: 100px;
      }
    }
    .resultBox {
      height: calc(100vh - 92px);
      padding: 6% 3.8% 3% 3.8%;
      @media (max-height: 800px) {
        padding-bottom: 0;
      }
    }
    .resultBox__head {
      margin-bottom: 1%;
    }
    .resultBox__cont .capture--lvl1 {
      line-height: 1;

    }

    .resultBox__cont--bottom {

      .item {
        min-height: 150px;
        margin-bottom: 5%;
        @media screen and (max-width: 1400px) {
          min-height: 115px;

        }
        @media screen and (max-height: 900px) {
          min-height: 95px;
        }
      }
    }

    .resultBox__cont .btn {
      font-size: 14px;
    }

    .resultBox__cont--top {
      margin-bottom: 1%;
    }
    .player-record {
      &__play {
        font-size: 20px;
        margin-right: 13px;
      }
      &__time {
        color: $blue;
      }
    }

    .resultBox__cont .lesson-leaders .popup-messages__dialogs-list ul {
      height: 49vh;
    }
  }

  &--dashbord2 {

    .list--number .item {
      flex: 0;
      .txt {
        font-weight: 700;
      }
    }
    .dashbord--right .passed__cont li {
      margin-bottom: 4%;
      span {
        font-size: 14px;
        text-decoration: underline;
        text-decoration-style: dotted;
        font-weight: 400;
        margin-left: 7px;
        cursor: pointer;
      }
    }
  }
}

