.list {
  .capture--lvl3 {
    flex: 1;
  }
  &__cont {
    flex: 3;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.8571428571428571em;
    font-size: 0.875em;
    font-weight: 500;
    cursor: pointer;

    &.active {
      background: $yellow;
      background-position: center;
      color: $black;
      border-radius: 3.5714285714285716em;
    }

    &.select {
      color: #a7a7a7;
    }
  }

  &--weeks {
    margin-bottom: 2.5em;
  }

  &--subjects {
    margin-bottom: 2.1875em;
  }

  &--number {
    .number__cont {
      display: flex;
      justify-content: space-between;
    }

    .item {
      padding: 2% 0;
      flex: 1;
    }
  }

}

@media screen and (max-height: 899px) {
  .popup.popup--main .list.list--weeks {
    margin-bottom: 20px;
  }

  .popup.popup--main .list.list--subjects {
    margin-bottom: 20px;
  }

}
