@import '../variables';

.mini-tabs {
  ul {
    li {
      display: inline-block;
      padding: 5px 11px;
      font-size: 12px;
      border-radius: 30px;
      cursor: pointer;
      text-align: center;
      &.active {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}
