.player {
  .player-timeline {
    width: 100%;
    height: 4px;
    background: #e1e1e1;
    margin-right: 10px;
  }
  button {
    background: none;
    border: 0;
    position: relative;
    cursor: pointer;

    &.prev {
      width: 11.7px;
      height: 14px;
      &::before {
        content: url('assets/img/icons/next.svg');
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
      }

    }
    &.play {
      margin: 0 28px;
      &::before {
        content: url('assets/img/icons/play2.svg');
      }
    }
    
    &.next {
        width: 11.7px;
        height: 14px;
        &::before {
          content: url('assets/img/icons/next.svg');
       }
      }
    
      &.repeat {
        width: 18px;
        height: 18px;
        background-color: #9b9b9b;
        border-radius: 100px;
        margin: 0 10px;
      }
    
    &.volume {
      flex: 1;
      &::before {
        content: url('assets/img/icons/volume.svg');
      }
    }

    &.record {
      width: 30px;
      height: 30px;
      background-color: #de6162;
      border-radius: 100px;
    }
  }

    &--btn {
      flex: 2;
      display: flex;
      justify-content: space-between;
    }

    &--time {
      color: $blue;
      font-size: 0.875em;
      flex: 1.2;
      span {
        color: inherit;
      }
    }

    &--timeline {
      flex: 4;
      background: #e1e1e1;
      height: 4px;
      .currenttimeline {
        background: $blue;
        width: 64%;
        height: inherit;
        display: block;
      }
    }

    &-record {
      width: 100%;
      &__play {
        margin-right: 20px;
      }
      &__index {
        font-size:0.875em;
        margin-right: 10px;
      }

      &__time {
        font-size: 0.75em;
      }
    }
  }

.equalizer {
  display: flex;
  align-items: flex-end;
  li {
    width: 2px;
    background-color: #dcdcdc;
    height: 12px;
    margin-right: 1px;
    &:nth-child(2) { height: 9px;}
    &:nth-child(3) { height: 8px;}
    &:nth-child(4) { height: 9px;}
    &:nth-child(5) { height: 12px;}
    &:nth-child(6) { height: 6px;}
    &:nth-child(7) { height: 2px;}
    &:nth-child(8) { height: 2px;}
    &:nth-child(9) { height: 2px;}
    &:nth-child(10) { height: 4px;}
    &:nth-child(11) { height: 5px;}
    &:nth-child(12) { height: 6px;}
    &:nth-child(13) { height: 7px;}
    &:nth-child(14) { height: 9px;}
    &:nth-child(15) { height: 10px;}
    &:nth-child(16) { height: 11px;}
    &:nth-child(17) { height: 10px;}
    &:nth-child(18) { height: 9px;}
    &:nth-child(19) { height: 8px;}
    &:nth-child(20) { height: 12px;}
    &:nth-child(21) { height: 8px;}
    &:nth-child(22) { height: 9px;}
    &:nth-child(23) { height: 8px;}
    &:nth-child(24) { height: 7px;}
    &:nth-child(25) { height: 8px;}
    &:nth-child(26) { height: 9px;}
    &:nth-child(26) { height: 10px;}
  }
}