// Стили popup Уведомления
.popup-notifications {
  display: flex;

  &__sources-list {
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border-radius: 2px;
        &.active {
          background-color: lighten($grey_light, 6%);
          font-weight: bold;
        }
        &:hover {
          background-color: lighten($grey_light, 6%);
        }
      }
    }
  }

  &__list {
    flex: 2;
    margin-bottom: 2em;
  }

  &__items {
    overflow-y: scroll;
    height: 100%;
    padding-right: 20px;
    .notifications-list {
      &__item {
        padding: 13px 19px;
        border: solid 1px #dcdcdc;
        border-radius: 4px;
        display: block;
        &.active {
          //display: flex;
          //flex-direction: row-reverse;
          background-color: #e0efff;
          border: 0;
        }
        margin-bottom: 18px;
      }
      &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      &__title {
        font-size: 13px;
        line-height: 19px;
        font-weight: bold;
        margin: 0;
        color: $blue;
      }
      &__date {
        font-size: 13px;
        color: #9ab7d6;
      }
      &__content {
        font-size: 0.8125rem;
        line-height: 1.54;
      }
    }
  }

}
