.popup-notes {
  display: flex;
  padding-bottom: 100px;
  height: 100%;

  &__list {
    flex: 1;
    margin-right: 35px;
    overflow-y: auto;
    .popup-notes-nav {
      &__item {
        font-size: 12px;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        &.active, &:hover {
          background-color: lighten($grey_light, 6%);
        }
      }
      &__name {

      }
      &__date {
        color: #949494;
        line-height: 19px;
      }
    }
  }

  &__content {
    flex: 2;
    border-radius: 5px;
  }

  .popup-notes-content {
    &__header {
      background-color: #e0efff;
    }
    &__setting {
      padding: 15px 20px 15px 16px;
      overflow-y: scroll;
      .setting-notes-list {
        display: flex;
        &__item {
          padding: 5px;
          border-radius: 5px;
          font-size: 12px;
          width: 22px;
          height: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-right: 4px;
          &.active {
            background-color: #fff;
          }
          span {
            line-height: 1;
          }
          .set-bold {
            font-weight: bold;
          }
          .set-italic {
            font-style: italic;
          }
          .set-underline {
            text-decoration: underline;
          }
          .set-font-size {
          }
          &-font {
            background-color: #fff;
          }
        }
      }
    }
    &__main {
      background-color: #f2f9ff;
      height: 90%;
      padding: 15px 16px;
      .note {
        height: 100%;
        &-header {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 1em;
          &__name {
            font-size: 15px;
          }
          &__date {
            font-size: 13px;
            color: #9ab7d6;
          }
        }
        &-main {
          margin-top: 1.5em;
          color: #4a4a4a;
          overflow-y: scroll;
          height: 90%;
          &__text {
            font-weight: 300;
          }
        }
      }
    }
  }
}
