.popup-dictionary {
  display: flex;
  padding-bottom: 100px;
  height: 100%;

  &__list {
    flex: 1;
    margin-right: 20px;
    padding-right: 15px;
    overflow-y: auto;
    .dictionary-list {
      display: flex;
      &__title {
        color: #428cdd;
        min-width: 1em;
        padding: 10px 15px 0 0;
        font-size: 12px;
        font-weight: bold;
      }
      .popup-dictionary-nav {
        flex: 1;
        &__item {
          font-size: 12px;
          border-radius: 2px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          padding: 10px 15px;
          &.active, &:hover {
            background-color: lighten($grey_light, 6%);
          }
          &.active {
            font-weight: bold;
          }
        }
        &__word {
          line-height: 19px;
        }
      }
    }

  }

  &__content {
    flex: 2;
    border-radius: 5px;
    overflow: hidden;
  }

  .popup-dictionary-content {
    &__header {

    }
    &__title {
      font-size: 15px;
      padding-bottom: 1em;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;
    }

    &__main {
      margin: 1.2em 0;
      .text {
        font-size: 13px;
        color: #4a4a4a;
        font-weight: 300;
        line-height: 19px;
      }
    }
  }
}
