.popup-questions {
  display: flex;

  &__categories-list {
    margin-top: 20px;
    ul {
      li {
        border-radius: 2px;
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        &.active {
          background-color: lighten($grey_light, 6%);
          font-weight: bold;
        }
        &:hover {
          background-color: lighten($grey_light, 6%);
        }
      }
    }
  }
}
