.popup {
  $self: &;
  background: #fff;
  padding: 3.125em;
  width: 100%;
  height: 100%;
  position: absolute;

  @include media-breakpoint-up(xl) {
    width: 890px;
  }

  &-wrap {
    overflow-y: scroll;
    margin-right: 65px;
  }
  &--main {
    z-index: 2;
    .capture--lvl1 {
      margin: 0.5555555555555556em 0;
      position: relative;
      @media (max-height: 700px) {
        margin-bottom: .6%;
      }
      &::after {
        content: "курс 1";
        font-size: 22px;
        position: absolute;
        top: 15px;
        margin-left: 10px;
      }
    }

    .question {
      position: relative;
      margin: 0 -3.125em;
      padding: 0.625em 3.125em;
      @media (min-width: 1900px) {
        padding: 10px 50px 20px 50px;
      }
      &.active {
        background: #f3f3f3;
      }

      &__cont {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }

      &__capt-box {
        margin-right: 10px;
        flex: 0 0 50%;
      }

      &__capt {
        margin-bottom: 10px;
        @media screen and (max-height: 899px) {
          margin-bottom: 0;
        }
      }
    }

    .progress {
      flex: 0 0 48%;
      &__item {
        &::after {
          width: 13px;
          left: 43px;
        }
      }
    }
  }

  &--right {
    right: 0;
  }

  &--top {
    top: 0;
  }

  h2.popup__title {
    position: relative;
    font-size: 4.5em;
    color: #e4e4e4;
    font-weight: 900;
    line-height: 1;
    margin: 0.2777777777777778em 0 0.5555555555555556em 0;
    span {
      content: "курс 1";
      font-size: 22px;
      position: absolute;
      top: 15px;
      margin-left: 10px;
      color: #e4e4e4;
    }
  }

  // Сообщения
  &--chat {
    z-index: 2;
    padding-right: 115px;
    width: 50vw;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 0.625em;
      margin: 1.25em 0 1.5em 0;
    }
    h2.popup__title {
      font-size: 3.25em;
      margin: 0;
    }
  }

  // Заметки
  &--notes {
    z-index: 2;
    padding-right: 115px;
    width: 50vw;
    .popup-notes {
      height: 100%;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 0.625em;
      margin: 1.25em 0 1.5em 0;
    }
    h2.popup__title {
      font-size: 3.25em;
      margin: 0;
    }
  }

  // Словарь
  &--dictionary {
    z-index: 2;
    padding-right: 115px;
    width: 50vw;
    .popup-dictionary {
      height: 100%;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 0.625em;
      margin: 1.25em 0 1.5em 0;
    }
    h2.popup__title {
      font-size: 3.25em;
      margin: 0;
    }
  }

  // Уведомления
  &--notifications {
    z-index: 2;
    padding-right: 115px;
    width: 50vw;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 0.625em;
      margin: 1.25em 0 1.5em 0;
    }
    h2.popup__title {
      font-size: 3.25em;
      margin: 0;
    }

    .popup__notifications {
      padding-bottom: 100px;
      height: 100%;
      display: flex;
    }
    .popup-notifications__sources {
      flex: 1;
      margin-right: 35px;
      margin-bottom: 4.5em;
      overflow-y: auto;
    }
  }

  // Конспект
  &--consp {
    .popup__content {
      .text {
        position: relative;
        line-height: 1.69;
        padding-right: 35px;
        background-image: linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0.02),
                        #ffffff
        );
        p {
          margin-bottom: 20px;
        }
      }
      .gradient {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  // Вопрос/ответ
  &--umma {
    z-index: 2;
    padding-right: 115px;
    width: 50vw;
    h2.popup__title {
      font-size: 3.25em;
      margin: 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 0.625em;
      margin: 1.25em 0 1.5em 0;
    }

    .popup__questions {
      padding-bottom: 100px;
      height: 100%;
      display: flex;
    }

    .popup__categories {
      flex: 1;
      margin-right: 35px;
      margin-bottom: 4.5em;
      overflow-y: auto;
    }

    .popup__content {
      flex: 2;
      //margin-top: 1.5625em;
      //padding-right: 60px;
      //padding-bottom: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .umma-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-bottom: 6em;
        padding-right: 30px;
        //justify-content: space-between;
      }
      .item {
        cursor: pointer;
        margin-bottom: 1em;
        header {
          color: $blue;
          display: flex;
          align-items: center;
          .slideup {
            margin-left: 10px;
            transform: rotate(180deg);
            path {
              fill: $blue;
            }
          }
        }
        main {
          display: none;
        }
        &.active {
          header {
            margin-bottom: 1.25em;
          }
          main {
            margin-bottom: 1.25em;
          }
          .slideup {
            transform: none;
            path {
              fill: $blue;
            }
          }
          main {
            display: block;
          }
        }
      }
    }

    .popup__textarea {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 20px;
      &-title {
        color: $grey;
      }
      textarea {
        margin-top: 1.25em;
        margin-bottom: 0.9375em;
        width: 100%;
        height: 120px;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px #c9c9c9;
        resize: none;
      }
      .btn {
        color: #4a4a4a;
        float: right;
      }
    }
  }
}
