.popup-messages {
  display: flex;

  &__dialogs {
    flex: 1;
    margin-right: 35px;
    overflow-y: scroll;
  }

  &__items {
    margin-top: 20px;
    overflow-y: scroll;
    height: 52vh;
    padding-right: 20px;
    @media screen and(min-height: 900px) {
      height: 58vh;
    }
    @media screen and(min-height: 1000px) {
      height: 65vh;
    }
    @media screen and(max-height: 800px) {
      height: 50vh;
    }
    ul {
      li {
        border-radius: 2px;
        &.me {
          display: flex;
          flex-direction: row-reverse;
          p {
            border: 0;
            background-color: lighten($grey_light, 6%);
          }
        }
        p {
          display: inline-block;
          font-size: 0.8125rem;
          line-height: 1.54;
          padding: 15px;
          //max-width: 380px;
          max-width: 80%;
          border: solid 1px #dcdcdc;
          border-radius: 4px;
          span {
            display: block;
            text-align: right;
            font-size: 0.5625rem;
            color: #c2c2c2;
            font-style: italic;
          }
        }
        margin-bottom: 18px;
      }
    }
  }
  &__list {
    flex: 2;

    &-head {
      div {
        cursor: pointer;
      }
      .icon {
        width: 4px;
        height: 4px;
        background-color: #d1d1d1;
        border-radius: 100%;
        display: inline-block;
        margin-left: 3px;
      }
    }

    h4 {
      font-size: 1.3125rem;
    }
    &-user {
      display: flex;
      align-items: center;
      &--online {
        span {
          margin-left: 10px;
          height: 7px;
          width: 7px;
          background-color: #50e3c2;
          border-radius: 30px;
        }
      }
    }
  }

  &__dialogs-list {
    margin-top: 20px;
    ul {
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        &.active {
          background-color: lighten($grey_light, 6%);
        }
        img {
          width: 45px;
          height: 45px;
          border-radius: 30px;
          margin-right: 11px;
        }
        div {
          b {
            display: block;
            font-size: 12px;
            margin-bottom: 3px;
          }
          p {
            font-size: 10px;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        span.count-mesg {
          border-radius: 100%;
          font-size: 10px;
          font-weight: 500;
          padding: 2px 6px;
          background: $yellow;
        }
        &:hover {
          background-color: lighten($grey_light, 6%);
        }
      }
    }
  }

  &__textarea {
    padding: .5em;
    margin-top: 2.1875em;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    position: relative;
    @media (max-height: 800px) {
      margin-top: 1.1875em;
    }
    textarea {
      border: 0;
      width: 100%;
      height: 71px;
      resize: none;
    }
    .btn-box {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      button {
      //  background: #000;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        border: 0;
        margin-left: 10px;
      }
    }
  }
}
