.progress {
  width: 100%;
  &__content {
    display: flex;
    width: 100%;
  }
  &__item {
    width: 20%;
   
    .line {
      flex: 1;
      background: #bfc4c9;
      height: 1px;
      margin: 0 7%;
    }

    .iconBox {
      position: relative;
      display: flex;
      align-items: center;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: rgba(#000, 0.4);
    }

    &.blue {
      .line {
        background: $blue;
      }
      svg {
        fill: $blue;
      }
    }

    .icon {
      position: relative;
    }

    

    &.active {
      .line {
        background-image: linear-gradient(to right, $blue 51%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        background-color: transparent;
      }
      svg {
        fill: $blue;
      }
    }

    &.select {
      .iconBox::before {
        width: 35px;
        height: 35px;
        position: absolute;
        content: '';
        background: #2880e8;
        border-radius: 100%;
        top: -7px;
        left: -8px;
      }
     
      svg {
        fill: #fff;
      }
    }
  }

  &--vertical {
    .progress__content {
      height: 235px;
      
    }
    .progress__item {
      height: 20%;
      display: flex;
      
      &:last-child {
        height: 0;
      }
      &.active {
        height: 30%;
        .line {
          background-image: linear-gradient($blue 51%, rgba(255,255,255,0) 0%);
          background-position: right;
          background-size: 1px 5px;
          background-repeat: repeat-y;
        }
       
        .txtBox {
          &__title {
            font-size: 1em;
            font-weight: 900;
            color: $blue;
          }
        }

      }
    }

    .iconBox {
      height: 100%;
      flex-direction: column;
      .line {
        margin: 20% 0;
        height: 20%;
        width: 1px;
      }
    }

    .txtBox {
      margin-left: 15px;
      margin-top: 3px;
      &__title {
        font-size: 0.875em;
        color: #969696;
      }
      &__txt {
        font-size: 0.625em;
        color: $black;
        margin-top: 5px;
      }
    }
  }
}
