.profile {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #ffffff;
  padding: 5vh 30px;
  text-align: center;
  .icon {
    position: absolute;
    border-radius: 100%;
    right: 25px;
    top: 25px;
    font-size: 20px;
  }

  p {
    color: #ffffff;
    font-weight: 500;
  }

  &__level {
    margin-top: 5%;
    margin-bottom: 10%;
    @media (max-height: 700px) {
      margin: 5% 0;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    max-width: 237px;
    width: 100%;
    @media (max-height: 700px) {
      max-width: 160px;
    }
  }
  .title {
    margin-top: 11%;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.21;
  }
}

.honor {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  &__cont {
    position: relative;
    width: 100%;
    @media (min-width: 1441px) {
      width: 75%;
    }
    li {
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
      background: #fff;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      position: absolute;
      @include media-breakpoint-up(xl) {
        width: 4.125em;
        height: 4.125em;
      }
      &:nth-child(1) {
        left: 0;
      }
      &:nth-child(2) {
        left: 20%;
      }
      &:nth-child(3) {
        left: 40%;
      }
      &:nth-child(4) {
        left: 60%;
      }
      &:nth-child(5) {
        left: 80%;
      }
    }
  }
}

.pointBox {
  margin-top: 10%;
  i {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 2%;
  }
  &__point {
    font-size: 2.625em;
    font-weight: 900;
    color: #ffffff;
  }
}