.question {
  display: flex;
  position: relative;
  cursor: pointer;
  &:hover {
    .question__btn {
      display: block;
      opacity: 1;
    }
  }
  &__cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &__capt-box {
    flex: 0 0 50%;
    @include media-breakpoint-down(xl) {
      flex: 0 0 100%;
    }
  }
  &__numb,
  &__link {
    font-size: 0.875em;
    font-weight: 300;
  }
  &__numb {
    margin-right: 0.5714285714285714em;
  }
  &__link {
    color: $blue;
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 6%;
    height: 100%;
    background: $yellow;
    display: none;
    opacity: 0;
    transition: 1s all ease-in;
    cursor: pointer;
  }
}

.questionBox {
  &--dashbord {
    .question {
      border: solid 1px #ebebeb;
      padding: 4.5% 5%;
      &:hover {
        box-shadow: $box_shadow;
      }

      &:hover .progress {
        display: block;
      }

      &__capt-box {
        margin-bottom: 4%;
      }

      &__capt {
        margin-bottom: 3%;
        @include media-breakpoint-down(lg) {
          font-size: 13px;
          margin-bottom: 0;
        }

        @media (max-height: 700px) {
          margin-bottom: 0;
        }
      }

      .progress {
        .title {
          font-size: 8px;
          line-height: 1.25;
          display: none;
        }
      }
    }
  }

  &--dashbord2 {
    .question {
      &__capt {
        margin-bottom: 1%;
        @include media-breakpoint-down(lg) {
          font-size: 13px;
        }
      }
    }
  }

}
