@import '../variables';

.search-word {
  margin-bottom: 1em;
  position: relative;
  input {
    border-radius: 4px;
    border: 1px solid #c9c9c9;

    outline: none;
    padding: .3em .6em;

    width: 100%;
    height: 100%;
    min-height: 35px;
  }
  .search-icon {
    position: absolute;
    display: block;
    border: none;
    right: 5%;
    top: 22%;
    width: 20px;
    height: 20px;
  }
}