.sidebar {
  width: 72px;
  height: 100vh;
  position: sticky;
  z-index: 999;
  box-shadow: inset -2px 0 8px 0 rgba(0, 0, 0, 0.1);
  .logo {
    padding: 15px;
  }
  .nav {
    height: 85%;
    position: relative;
    &__item {
      &.active {
        background: #f3f3f3;
      }
      a {
        padding: 20px 25px;
        display: block;
        &:hover {
          background: #f3f3f3;
        }
      }
    }

    i.icon-praer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 22px;
    }
  }
}

