.taskbar {
  position: absolute;
  bottom: 0;
  box-shadow: $box_shadow;
  padding: 0 0.6875em 0 3em;
  height: $height-taskbar;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  //z-index: 2;
  &::before {
    content: '';
    width: 20%;
    height: 4px;
    background: $blue;
    position: absolute;
    top: -4px;
    left: 0;
  }

  &-test {
    &__time {
      margin-right: 10px;
      display: flex;
      font-weight: 500;
      .icon {
        width: 20.8px;
        height: 20.8px;
        background-color: #d0d0d0;
        margin-right: 10px;
        border-radius: 100px;
      }
    }
  
  }

}

.taskbar-menu {
  font-weight: 500;
  text-align: center;
  &__cont {
    display: flex;
  }
  
  &__item {
    padding: 0 22px;
    height: 5.75em;
    display: flex;
    align-items: center;
    &.active {
      border-top: 4px solid $yellow;
      a {
          color: #383838;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      color: #9c9c9c;
      &:hover {
        color: #383838;
      }
    }
  }
}

.taskbar-btnBox {
  display: flex;
  justify-content: flex-end;
  &__btn {
    font-weight: 500;
    background: #efefef;
  }
}