.capture {
  font-weight: 900;
  

  &--lvl1 {
    font-size: 4.5em;
  }

  &--lvl2 {
    font-size: 2em;
  }

  &--lvl3 {
    font-size: 1.125em;
  }

  &--lvl4 {
    font-size: 1.5em;
  }
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.grey_light { 
  color: $grey_light;
}