@import 'button';
@import 'text';
@import 'sidebar';
@import 'user-menu';
@import 'taskbar';
@import 'progress';
@import 'burger';
@import 'popup';
@import 'list';
@import 'content';
@import 'mini-tabs';
@import 'popup-messages';
@import 'question';
@import 'profile';
@import 'player';
@import 'popup-questions-categories';
@import 'popup-notifications-sources';
@import 'popup-notes';
@import 'popup-dictionary';
@import 'search';

@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {

}
