<!--<div class="burger-menu"></div>-->
<!-- Тут меню бургера -->
<main class="content content--qcover">
  <div class="container-fluid no-pg">
    <div class="row">
      <div class="col-4">
        <section class="qcover--left d-flex align-items-center">
          <img src="assets/img/quran-page.png" alt="">
        </section>
      </div>
      <div class="col-7 offset-md-1">
        <section class="qcover--right d-flex flex-column align-items-start justify-content-center h100">
          <h4 class="capture capture--lvl4">Сура 1.</h4>
          <h1 class="capture capture--lvl1">Аль-Фатиха</h1>
          <img src="assets/img/arab.png" alt="">
          <div class="qcover--right__box">
            <ul class="d-flex">
              <li class="d-flex flex-column"><span class="blue capture">7</span>аятов</li>
              <li class="d-flex flex-column"><span class="blue capture">143</span>слова</li>
              <li class="d-flex flex-column"><span class="blue capture">1320</span> букв</li>
            </ul>
          </div>
          <button class="btn btn--main">Начать урок</button>
        </section>
      </div>
    </div>
  </div>
</main>