@import '../../../../../../assets/scss/variables';

.webinars-box {
  display: flex;
  align-items: start;
  height: 90%;
}

.current-webinars {
  height: 100%;
}

.main-webinar-box, .webinar-box {
  display: flex;
  flex: 1;
  height: 100%;
}

.main-webinar-box {
  .main-webinar-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 0 2em 1.5em 0;
    &__img {
      position: relative;
      height: 70%;
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    }
    &__date {
      position: absolute;
      top: 3.5em;
      left: 2em;

      display: flex;
      align-items: center;
      .clock-icon {
        width: 21px;
        height: 21px;
        display: flex;
        background-size: contain;
        margin-right: .75em;

        border-radius: 50%;
      }
      .date-text {
        font-size: 1em;
        color: $blue;
      }
    }
    &__time {
      position: absolute;
      top: 2em;
      right: 2em;

      background-color: #FFE76B;
      border-right: 4px;
      padding: .75em 1em 1em;

      border-radius: 4px;
      .timing {
        display: flex;
        justify-content: space-around;
        font-size: 1.75em;
      }
      .timing-title {
        display: flex;
        justify-content: space-around;
        font-size: .8em;
      }
    }
    &__title {
      font-size: 1.5em;
    }
    &__theme {
      .theme-chip {
        cursor: pointer;
        border: 1px solid $blue;
        color: $blue;
        font-size: .75em;
        border-radius: 4px;
        padding: 3px 4px;
      }
    }
    &__master {
      margin-bottom: 1em;
      .master-name {
        font-size: 1em;
        color: #A8A8A8;
        font-weight: bold;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      .members {
        display: flex;
        margin-right: 2em;
        &__images {
          margin-right: 38px;
        }
        &__link {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          opacity: .4;
          margin-right: -8px;
          text-decoration: none;
          cursor: pointer;
          img {
            width: 30px;
          }
          //&:first-child {
          //  margin: 0;
          //}
        }
        &__count {
          display: flex;
          align-items: center;
          .count {
            color: #A8A8A8;
            font-size: 1em;
          }
        }
      }
      .invite-friends {
        display: flex;
        align-self: center;
        .icon-plus {
          margin-right: 1em;

          width: 21px;
          height: 21px;
          background-size: contain;

          display: flex;
          align-items: center;
          justify-content: center;
          font-size: .875em;
          background-color: #FFE76B;
          border-radius: 4px;
        }
        .text {
          color: #A8A8A8;
          font-size: 1em;
        }
      }
    }
  }
}

.webinar-box {
  flex-wrap: wrap;
  .webinar-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    height: 50%;
    &:nth-child(even) {
      padding-right: 0;
    }
    padding: 0 1.3em 1.5em 0;
    &__img {
      position: relative;
      height: 70%;
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
      }
    }
    &__date {
      position: absolute;
      top: 1em;
      left: 1em;

      display: flex;
      align-items: center;
      .clock-icon {
        width: 21px;
        height: 21px;
        display: flex;
        background-size: contain;
        margin-right: .75em;

        border-radius: 50%;
      }
      .date-text {
        font-size: 1em;
        color: $blue;
      }
    }
    &__actions {
      display: flex;
      align-items: center;

      position: absolute;
      bottom: 1em;
      left: 1em;
      .members {
        display: flex;
        margin-right: .5em;
        &__count {
          display: flex;
          align-items: center;
          font-size: .875em;
          background-color: #FFE76B;
          padding: 4px 6px;
          border-radius: 4px;
          .icon-member {
            margin-right: .3em;
          }
          .count {
            line-height: 1;
            font-size: 1.085em;
          }
        }
      }
      .invite-friends {
        display: flex;
        align-items: center;
        font-size: .875em;
        background-color: #FFE76B;
        padding: 4px 6px;
        border-radius: 4px;
      }
    }
    &__title {
      font-size: 1.125em;
    }
    &__theme {
      .theme-chip {
        cursor: pointer;
        border: 1px solid $blue;
        color: $blue;
        font-size: .75em;
        border-radius: 4px;
        padding: 3px 4px;
      }
    }
    &__master {
      .master-name {
        font-size: 1em;
        color: #A8A8A8;
        font-weight: bold;
      }
    }
  }
}
