<div class="row h100">
  <div class="col-12 d-flex flex-column justify-content-around webinars-box">
    <section class="current-webinars d-flex flex-row align-items-center h100">
      <div class="main-webinar-box">
        <div class="main-webinar-card">
          <div class="main-webinar-card__img">
            <img src="./assets/img/profile-bg.png" alt="">
            <div class="main-webinar-card__date">
              <span class="clock-icon time-icon"></span>
              <span class="date-text">26 августа, 16:00</span>
            </div>
            <div class="main-webinar-card__time">
              <div class="timing">
                <span class="days">00&nbsp;:&nbsp;</span>
                <span class="hours">07&nbsp;:&nbsp;</span>
                <span class="minutes">56</span>
              </div>
              <div class="timing-title">
                <span class="days-title">Дней&nbsp;</span>
                <span class="hours-title">&nbsp;Часов</span>
                <span class="minutes-title">&nbsp;Минут</span>
              </div>
            </div>
          </div>
          <div class="main-webinar-card__title">
            <h4>Ислам в современном мире. Изучение основ</h4>
          </div>
          <div class="main-webinar-card__theme">
            <span class="theme-chip">Арабский язык</span>
          </div>
          <div class="main-webinar-card__master">
            <h4 class="master-name">Салаватуллин Айнур Айнурович</h4>
          </div>
          <div class="main-webinar-card__actions">
            <div class="members">
              <div class="members__images">
                <a class="members__link"><img src="./assets/img/ava.png" alt="Участника"></a>
                <a class="members__link"><img src="./assets/img/ava.png" alt="Участника"></a>
                <a class="members__link"><img src="./assets/img/ava.png" alt="Участника"></a>
              </div>
              <div class="members__count">
                <span class="count">146 участников</span>
              </div>
            </div>
            <div class="invite-friends">
              <div class="icon-plus">
                <span class="b-plus-icon"></span>
              </div>
              <span class="text">Пригласить друзей</span>
            </div>
          </div>
        </div>
      </div>
      <div class="webinar-box">
        <div class="webinar-card">
          <div class="webinar-card__img">
            <img src="./assets/img/profile-bg.png" alt="">
            <div class="webinar-card__date">
              <span class="clock-icon time-icon"></span>
              <span class="date-text">26 августа, 16:00</span>
            </div>
            <div class="webinar-card__actions">
              <div class="members">
                <div class="members__count">
                  <span class="man-icon icon-member"></span>
                  <span class="count">146</span>
                </div>
              </div>
              <div class="invite-friends">
                <span class="b-plus-icon"></span>
              </div>
            </div>
          </div>
          <div class="webinar-card__title">
            <h4>Ислам в современном мире. Изучение основ</h4>
          </div>
          <div class="webinar-card__theme">
            <span class="theme-chip">Арабский язык</span>
          </div>
          <div class="webinar-card__master">
            <h4 class="master-name">Салаватуллин Айнур Айнурович</h4>
          </div>
        </div>
        <div class="webinar-card">
          <div class="webinar-card__img">
            <img src="./assets/img/profile-bg.png" alt="">
            <div class="webinar-card__date">
              <span class="clock-icon time-icon"></span>
              <span class="date-text">26 августа, 16:00</span>
            </div>
            <div class="webinar-card__actions">
              <div class="members">
                <div class="members__count">
                  <span class="man-icon icon-member"></span>
                  <span class="count">146</span>
                </div>
              </div>
              <div class="invite-friends">
                <span class="b-plus-icon"></span>
              </div>
            </div>
          </div>
          <div class="webinar-card__title">
            <h4>Ислам в современном мире. Изучение основ</h4>
          </div>
          <div class="webinar-card__theme">
            <span class="theme-chip">Арабский язык</span>
          </div>
          <div class="webinar-card__master">
            <h4 class="master-name">Салаватуллин Айнур Айнурович</h4>
          </div>
        </div>
        <div class="webinar-card">
          <div class="webinar-card__img">
            <img src="./assets/img/profile-bg.png" alt="">
            <div class="webinar-card__date">
              <span class="clock-icon time-icon"></span>
              <span class="date-text">26 августа, 16:00</span>
            </div>
            <div class="webinar-card__actions">
              <div class="members">
                <div class="members__count">
                  <span class="man-icon icon-member"></span>
                  <span class="count">146</span>
                </div>
              </div>
              <div class="invite-friends">
                <span class="b-plus-icon"></span>
              </div>
            </div>
          </div>
          <div class="webinar-card__title">
            <h4>Ислам в современном мире. Изучение основ</h4>
          </div>
          <div class="webinar-card__theme">
            <span class="theme-chip">Арабский язык</span>
          </div>
          <div class="webinar-card__master">
            <h4 class="master-name">Салаватуллин Айнур Айнурович</h4>
          </div>
        </div>
        <div class="webinar-card">
          <div class="webinar-card__img">
            <img src="./assets/img/profile-bg.png" alt="">
            <div class="webinar-card__date">
              <span class="clock-icon time-icon"></span>
              <span class="date-text">26 августа, 16:00</span>
            </div>
            <div class="webinar-card__actions">
              <div class="members">
                <div class="members__count">
                  <span class="man-icon icon-member"></span>
                  <span class="count">146</span>
                </div>
              </div>
              <div class="invite-friends">
                <span class="b-plus-icon"></span>
              </div>
            </div>
          </div>
          <div class="webinar-card__title">
            <h4>Ислам в современном мире. Изучение основ</h4>
          </div>
          <div class="webinar-card__theme">
            <span class="theme-chip">Арабский язык</span>
          </div>
          <div class="webinar-card__master">
            <h4 class="master-name">Салаватуллин Айнур Айнурович</h4>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


